<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
    <ion-title>Cancelar Solicitud</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="FormCancel" (ngSubmit)="cancel()">

    <p class="msg-req" *ngIf="submitAttempt">Por favor, complete la Informacion requerida.</p>

<!--  <p class="">Cancelar Solicitud.</p> -->
  <td (click)="accessGallery(1)"><p class="sub">Sube tu foto</p><img class="imgurl" style="height:60px; width:85px;"  [src]="Image_avatar" *ngIf="Image_avatar"   alt="">
            </td>


      <ion-item>
        <ion-label floating>Observaciones</ion-label>
        <ion-input type="text" formControlName="observations"></ion-input>
      </ion-item>
     <ion-row class="input-invalid" *ngIf="FormCancel.get('observations').errors && (FormCancel.get('observations').dirty || submitAttempt)">
    <p *ngIf="FormCancel.get('observations').hasError('required')">Campo Requerido</p>

  </ion-row>
      <ion-buttons class="center">
        <button ion-button type="submit" color="secondary">
      cancelacion de la Solicitud
      </button>
      </ion-buttons>
  </form>
</ion-content>
