page-supply-provider {
#avatar {
        margin: 0px 0px 0px 10px;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        overflow: hidden;
    }
.infotext{
    margin-top: 25px;
    font-size: 16px;
    color: #032905;
}

}
