<ion-header>
  <ion-navbar>
    <ion-title>Suministros</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="FormSupply" (ngSubmit)="registersupply()">
    <ion-row class="" style="height: 100px; background: #ffffff;">
      <ion-col col-3 class="">
        <ion-avatar><img id="avatar" src="{{api + selectedItem.profile.avatar_url}}" *ngIf="selectedItem.profile.avatar_url !== undefined">
          <img id="avatar" src="assets/img/avatar.jpg" *ngIf="selectedItem.profile.avatar_url === undefined"></ion-avatar>
      </ion-col>
      <ion-col col-6 class="">
        <p class="infotext">{{selectedItem.profile.name + " " + selectedItem.profile.last_name}}</p>
      </ion-col>
      <ion-col col-3 class=""> </ion-col>
    </ion-row>
    <p class="msg-req" *ngIf="submitAttempt">Por favor, complete la Informacion requerida.</p>

    <p class="">Seleccione el tipo de suministro a asignar.</p>

    <ion-item>
      <ion-label>Tipo</ion-label>
        <ion-select (ngModelChange)="onChange($event)" name="name" placeholder="Seleccione" okText="Aceptar" cancelText="Cancelar" formControlName="product_type">
        <ion-option *ngFor="let supply of supplys; let i = index" value={{i}}>{{supply.value}}</ion-option>
      </ion-select>
    </ion-item>

    <p class="" *ngIf="mesaures[0] !== 'unit' && mesaures.length>0 ">Seleccione el tamaño del envase.</p>
    <ion-item *ngIf="mesaures[0] !== 'unit' && mesaures.length>0 ">
      <ion-label>Tamaño</ion-label>
      <ion-select formControlName="measure" name="name" placeholder="Seleccione" okText="Aceptar" cancelText="Cancelar">
        <ion-option  *ngFor="let measure of mesaures; let i = index" value = "{{measure}}"> {{mesaures[i]}} </ion-option >
      </ion-select>
    </ion-item>

    <ion-item *ngIf="qtybolean == true" text-wrap>
      <ion-input class="center-input" placeholder="Indique Cantidad" type="number" formControlName="qty"></ion-input>
    </ion-item>
    <ion-row class="input-invalid" *ngIf="FormSupply.get('qty').errors && (FormSupply.get('qty').dirty || submitAttempt)">
        <p *ngIf="FormSupply.get('qty').hasError('required')">Campo Requerido</p>
        <p *ngIf="FormSupply.get('qty').hasError('maxlength')">Maximo 30 caracteres</p>
        <p *ngIf="FormSupply.get('qty').hasError('pattern')">Solo se aceptan números</p>
    </ion-row>

    <ion-item>
      <ion-buttons class="center">
        <button ion-button type="submit" color="secondary">
        Asignar
      </button>
      </ion-buttons>
    </ion-item>
  </form>
</ion-content>
