<!--
  Generated template for the BackupDatabasePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
	  <button ion-button menuToggle>
	  	<ion-icon name="menu"></ion-icon>
	  </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<p class="backup-title">Exporta o importa un respaldo<br>de la base de datos desde o<br>hacia tu dispositivo</p>
	<br>
	<ion-row>
		<button ion-col class="cloud left">
			<img src="assets/img/downcloud.png">
			<p>Descargar</p>
		</button>
		<button ion-col class="cloud right">
			<img src="assets/img/upcloud.png">
			<p>Cargar</p>
		</button>
	</ion-row>
</ion-content>
