page-backup-database {
	.backup-title {
		text-align: center;
	    color: rgb(14, 72, 30);
	    font-family: Roboto-Bold, Arial;
	    font-size: 14pt;
	    font-weight: bold;
	}

	.cloud img {
		width: 80px;
    	height: 80px;
	}

	.cloud p {
		margin-top: 0px;
	    margin-bottom: 0px;
	}

	.cloud {
	    background: #f3f3f3;
	    padding-top: 5%;
	    padding-bottom: 5%;
	    border-radius: 100%;
	    text-align: center;
	}

	.left {
		margin-right:5px;
	}
	.right {
		margin-left:5px;
	}

	ion-row {
		margin-top: 70px;
	}

}
