<ion-header>

  <ion-navbar>
    <ion-title>Selecciona ubicación (3/5)</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <ion-item>
      <ion-label style="margin-left:1%;"><ion-icon name="pin"></ion-icon></ion-label>
      <ion-textarea placeholder="escriba su dirección" type="text" full [(ngModel)]="address" clearInput></ion-textarea>
      <button (click)="searchAddr()" class="search-button" item-right ion-button color="secondary" style="margin-buttom:0px;"><ion-icon name="search"></ion-icon></button>
    </ion-item>

    <ion-item>
      <ion-label style="margin-left:1%;">Indicaciones: </ion-label>
      <ion-input type="text" full [(ngModel)]="indications" clearInput placeholder="Sótano -2, puesto 202"></ion-input>
    </ion-item>

    <div #map id="map"></div>
    <div class="button-next">
      <button ion-button (click)="next()" icon-right>
          Continuar <ion-icon name="arrow-round-forward"></ion-icon>
      </button>
    </div>
</ion-content>
