
.ios, .md {

    page-address-selection {

      .scroll {
        height: 100%
      }

      #map {
        width: 100%;
        height: 90%;
      }

      #myInput {
          width: calc(100% - 10px);
          border: 0;
          border-radius: 0;
          background: transparent;
      }

      .button-next {
        width:100%;
        text-align:center;
        position: fixed;
        top: 90%;
      }

      .search-button {
        padding: 19px 0.6em;
        font-size: 2.2rem;
      }

    }

}
