<ion-header>

  <ion-navbar color="secondary">
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-row class="sol-title">
		<ion-col col-11 class="center">
  		<span>Solicitudes {{status}}</span>
  	</ion-col>
  	<ion-col col-1 class="right">
  		<img (click)='showFilter();' src="assets/img/filter.png" width="18px" height="18px">
  	</ion-col>
  </ion-row>

  	<p *ngIf="items.length==0" style="text-align: center;">No hay solicitudes.</p>
	<ion-list>
	  <button ion-item class="item-sol" *ngFor="let item of items" (click)="itemSelected($event, item)" text-wrap>
	    <ion-row>
	    	<ion-col>
	    	</ion-col>
	    	<ion-col class="sol-status">
	    		<span>{{item.pending}}</span>
	    	</ion-col>
	    	<ion-col class="time-status">
	    		<span>{{item.updated_show}}</span>
	    	</ion-col>
	    </ion-row>
	  
	    <ion-avatar item-start>
	      <img src="{{api + item.user.profile.avatar_url}}">
	    </ion-avatar>
	    <strong>{{item.user.profile.name + " " + item.user.profile.last_name}}</strong>
	    <p>Rut: <span>{{item.user.profile.rut}}</span></p>
	    <p>{{item.user.profile.address}}</p>
	  </button>

	</ion-list>

</ion-content>
