page-register-requests {
	.time-status {
		text-align: center;
	    color: #999999;
	    font-family: 'Roboto-Regular',Arial;
	    font-size: 9.0pt;
	}

	.sol-status {
		text-align: right;
	    color: #CCCCCC;
	    text-decoration: none;
	    font-family: 'Roboto-Regular',Arial;
	    font-size: 9.0pt;
	    vertical-align: middle;
	}

	ion-avatar img {
	    width: 75px !important;
   	 	height: 75px !important;
	}

	.item-sol strong {
		font-family: 'Roboto-Bold',Arial;
	    font-size: 10.0pt;
	}

	.item-sol p {
		color: #000000;
	    font-family: 'Roboto-Regular',Arial;
	    font-size: 9.0pt;
	}

	.sol-title {
	    border-bottom-style: solid;
	    border-bottom-width: 2px;
	    border-bottom-color: #d7d7d7;
	}

	.right {
		text-align: right;
	}

	.left {
		text-align: left;
	}

	.center {
		text-align: center;
	}

	.sol-title span {
		color: #808080;
	    font-family: 'Roboto-Light',Arial;
	    font-size: 11.0pt;
	}
}
