page-add-administrator {



    .input-cover {
        min-width: 100%;
        padding: 10px 10px;
        margin: 0px ;
        //border-bottom: 1px  solid #808080;
        box-sizing: border-box;
        color: #000;
      }

      .invalid {
        color: #ea6153;
      }
      .input-invalid{
        font-size: 10px;
        color: #ea6153;
        margin: 0px;
        margin-left: 15px;
      }

      .text-input[disabled] {
        opacity: 1 !important;
    }

    .footer-md::before,
    .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
      top: 0px;
      height: 0px;
    }

     h4 {
      color: #c4c4c3;
      text-align: center;
      margin-top: 1.0rem !important;
    }

    .butonCenter{
      padding: 1em 3em;
      margin: 1em 25%;
    }

    .item {
    padding-left: 16px;
}
}
