<!--
  Generated template for the AddAdministratorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <form [formGroup]="OneForm" (ngSubmit)="register()">
    <h4 class="title">Crea un usuario Administrador.</h4>
     <p class="msg-req" *ngIf="submitAttempt">Por favor, complete la Información requerida.</p>
   <ion-list>
      <ion-item>
          <ion-input class="center-input" placeholder="Nombre" formControlName="name" type="text" [class.invalid]="!OneForm.controls.name.valid && (OneForm.controls.name.dirty || submitAttempt)"></ion-input>
        </ion-item>
          <ion-row class="input-invalid" *ngIf="OneForm.get('name').errors && (OneForm.get('name').dirty || submitAttempt)">
              <p *ngIf="OneForm.get('name').hasError('required')">Campo Requerido</p>
              <p *ngIf="OneForm.get('name').hasError('maxlength')">Maximo 30 carácteres</p>
              <p *ngIf="OneForm.get('name').hasError('pattern')">Solo se aceptan letras</p>
          </ion-row>

        <ion-item>
           <ion-input class="center-input" placeholder="Apellido" formControlName="last_name" type="text" [class.invalid]="!OneForm.controls.last_name.valid && (OneForm.controls.last_name.dirty || submitAttempt)"></ion-input>
        </ion-item>
          <ion-row class="input-invalid" *ngIf="OneForm.get('last_name').errors && (OneForm.get('last_name').dirty || submitAttempt)">
            <p *ngIf="OneForm.get('last_name').hasError('required')">Campo Requerido</p>
            <p *ngIf="OneForm.get('last_name').hasError('maxlength')">Maximo 30 caracteres</p>
            <p *ngIf="OneForm.get('last_name').hasError('pattern')">Solo se aceptan letras</p>
          </ion-row>

  <ion-item>
        <ion-input class="center-input" placeholder="Correo" type="email" name="email"  formControlName="email"></ion-input>
      </ion-item>
        <ion-row class="input-invalid" *ngIf="OneForm.get('email').errors && (OneForm.get('email').dirty || submitAttempt)">
         <p *ngIf="OneForm.get('email').hasError('required')">Campo Requerido</p>
         <p *ngIf="OneForm.get('email').hasError('maxlength')">Maximo 30 caracteres</p>
         <p *ngIf="OneForm.get('email').hasError('pattern')">Ingrese un correo electronico valido</p>
       </ion-row>
       <ion-item>
        <ion-input class="center-input" placeholder="Contraseña" type="password" name="password"  formControlName="password"></ion-input>
        </ion-item>
       <ion-row class="input-invalid" *ngIf="OneForm.get('password').errors && (OneForm.get('password').dirty || submitAttempt )">
          <p *ngIf="OneForm.get('password').hasError('required')">Campo Requerido</p>
          <p *ngIf="OneForm.get('password').hasError('maxlength')">Maximo 30 caracteres</p>
          <p *ngIf="OneForm.get('password').hasError('minlength')">Mínimo 6 caracteres</p>
          <p *ngIf="OneForm.get('password').hasError('pattern')">Solo se aceptan letras</p>
      </ion-row>
      <ion-item>
        <ion-input class="center-input" placeholder="Confirmar Contraseña" type="password"  formControlName="confirm_password" ></ion-input>
      </ion-item>
         <ion-row class='input-invalid' *ngIf="OneForm.controls.confirm_password.touched && OneForm.hasError('mismatchedPasswords') && OneForm.controls.password.valid">
            <p>Contraseña no coincide</p>
        </ion-row>
        <ion-item>

          <ion-buttons class="center">
            <button ion-button type="submit" color="primary" full>
            Crear
          </button>
          </ion-buttons>
        </ion-item>
   </ion-list>

  </form>
</ion-content>
