modal-detail-page {

  .item-grid {
    padding: 2%;
  }

  .item-grid ion-col ion-row {
    background-color:#efefef;
  }

  .item-grid ion-col ion-row img {
      max-width: 75%;
      max-height: 170px;
  }

  .center-span {
    width: 100%;
    text-align: center;
    color: rgb(64, 64, 64);
    font-family: 'Roboto-Regular',Arial;
    font-size: 11.0pt;
  }

  .padding-space {
    padding-left: 3%;
    padding-top: 7%;
  }

  .col {
    padding-bottom: 7px !important;
  }

  .link-span {
    color:#26C852;
    padding: 2%;
  }



}
