<ion-header>
  <ion-toolbar color="gray">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text>X</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <ion-row>
    <span class="title-spent-product">Producto gastado</span>
  </ion-row>

  <ion-row>
    <ion-col col-1></ion-col>
    <ion-col col-7>
      Líquido exterior
    </ion-col>
    <ion-col col-4>
      {{itemSelected.spend.car_liquid}}ml
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-1></ion-col>
    <ion-col col-7>
      Líquido de llantas
    </ion-col>
    <ion-col col-4>
      {{itemSelected.spend.wheel_liquid}}ml
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-1></ion-col>
    <ion-col col-7>
      Aspiradora
    </ion-col>
    <ion-col col-4>
      <input type="checkbox" [checked]="itemSelected.spend.vacuum" disabled >
    </ion-col>
  </ion-row>

  <!-- <ion-row>
    <ion-col col-1></ion-col>
    <ion-col col-7>
      Toallas
    </ion-col>
    <ion-col col-4>
      5
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-1></ion-col>
    <ion-col col-7>
      Piso Pequeño
    </ion-col>
    <ion-col col-4>
      <input type="checkbox" disabled>
    </ion-col>
  </ion-row> -->

</ion-content>
