<ion-header>
  <ion-toolbar color="gray">
    <ion-title>
      {{title}} {{itemSelected.name}} <br>
      <div><img alt="excel" height="20" src="assets/img/excel.png" width="20" style="float: right;" (click)="downloadReport(itemSelected._id,op)"></div>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text>X</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="item-grid">

    <ion-col col-6 *ngFor="let itemDetail of itemSelected.detail; let i = index">
      <ion-row class="padding-space">
        <ion-col col-12 *ngIf="op==1"><span>{{util.getCarClass(itemDetail.car.type)}}</span></ion-col>
        <ion-col col-2>
        </ion-col>
        <ion-col col-10>
          <img src="{{itemDetail.car && itemDetail.car.image_url ? api + itemDetail.car.image_url : 'assets/img/carg.png'}}">
        </ion-col>
      </ion-row>
      <ion-row *ngIf="op==1">

        <span class="center-span">Fecha: {{itemDetail.date}}</span>
        <span class="center-span">Hora: {{itemDetail.hour}}</span>
        <span class="center-span">Cliente: {{itemDetail.user.profile.name}}</span>
        <span class="center-span">Modelo: {{itemDetail.car.model}}</span>
        <span class="center-span">Marca: {{itemDetail.car.brand}}</span>
        <span *ngIf="itemDetail.class!==undefined" class="center-span">Cupón: {{itemDetail.coupons.coupon_code}}</span>
        <span class="center-span link-span" (click)="openSpentProductDetail(itemDetail, op)"><u>Producto gastado</u></span>
        <span class="center-span link-span" (click)="openAlert(itemDetail.observations ? itemDetail.observations : 'Sin observaciones')"><u>Observaciones</u></span>
        <span class="center-span link-span" (click)="openUrl(api+itemDetail.photo_url)"><u>Foto</u></span>

        <br>
        <br>
      </ion-row>

      <ion-row *ngIf="op==2">

        <span class="center-span">Precio total</span>
        <span class="center-span" style="color:black">{{itemDetail.total}}$</span>
        <br>
        <span class="center-span">Precio del servicio</span>
        <span class="center-span" style="color:black">{{itemDetail.service}}$</span>
        <br>
        <span *ngIf="itemDetail.coupons.campaign_id.detail.discount!==undefined"
              class="center-span">Descuento: </span>
        <span *ngIf="itemDetail.coupons.campaign_id.detail.discount!==undefined"
              class="center-span">{{itemDetail.coupons.campaign_id.detail.discount}} %</span>
        <br>
        <span class="center-span">Comisión</span>
        <span class="center-span">{{itemDetail.fee}}$</span>
        <br>
        <br>
      </ion-row>


    </ion-col>


  </ion-row>


</ion-content>
