page-modal-list-page {

	.item-md ion-avatar[item-start] {
	    margin: 8px 5% 8px 1%;
	}

	.first-info {
		color: #000000;
	    font-family: 'Arial',Arial;
	    font-size: 9.0pt;
	}

	.first-info span {
		color: #000000;
	    font-family: 'Roboto-Bold',Arial;
	    font-size: 11.0pt;
	    font-weight: 700;
	}

	.second-info {
	    color: #000000;
	    text-align: left;
	    font-family: 'Arial',Arial;
	    font-size: 9.0pt;
	    font-weight: 700;
	}

	.icon-right {
		float:right;
		margin-left: -15px;
		margin-right: 1%;
	}

	.info-right {
		float:right;
		font-family: 'Arial',Arial;
		font-size: 9.0pt;
		margin-top: 5px;
	}

	.item-gray {
		background: #f0f0f0;
	}

	.list-style {
	    padding: 1%;
	    padding-left: 4% !important;
	}




}
