modal-spent-product-page {
  .title-spent-product {
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
  }

  .row {
    margin-bottom: 1%;
  }
  height: 60% !important;
  .toolbar {
    min-height: auto;
  }
}
