<ion-header>
  <ion-toolbar color="gray">
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text>X</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item class="list-style" *ngFor="let item of items; let i = index" [class.item-gray]="i%2!=0" (click)="openModalDetail(item,op)">
      <ion-avatar item-start>
        <img src="{{api + item.avatar_url}}">
      </ion-avatar>
      <span class="first-info"><span>RUT</span> {{item.rut}}</span>
      <span class="icon-right"><img *ngIf="op==1" src="assets/img/car2.png"/><img *ngIf="op==2" src="assets/img/dollar2.png"/></span>
      <br>
      <span class="second-info">{{item.name}}</span>
      <span class="info-right" *ngIf="op==1">{{item.cars_count}}</span>
      <span class="info-right" *ngIf="op==2">{{item.money_total+'$'}}</span>
    </ion-item>
  </ion-list>
</ion-content>
