<ion-header>

<!--  <div class="progress-outer" *ngIf="isDownload">
      <div class="progress-inner" [style.width]="totalPerc + '%'">
          {{100}}%
      </div>
  </div> -->

  <ion-navbar color="secondary">
	  <button ion-button menuToggle>
	  <ion-icon name="menu"></ion-icon>
	</button>
  </ion-navbar>



</ion-header>

<ion-content padding>

	<div class="table-content table-content-gray" ion-row>
		<span>Distribución de usuarios <img src="assets/img/excel.png" alt="excel" width="20" height="20" (click)="downloadReport(1)"/></span>

		<br>
		<br>
		<table>
		  <tr>
			<td>Clientes</td>
			<td>{{this.reports.users_distribution[2].count}}</td>
		  </tr>
		  <tr>
			<td>Riders</td>
			<td>{{this.reports.users_distribution[0].count}}</td>
		  </tr>
		  <tr>
			<td>Administradores</td>
			<td>{{this.reports.users_distribution[1].count}}</td>
		  </tr>
		</table>
	</div>


	<div class="table-content" ion-row *ngIf="reports.cars_by_providers.length>0">
		<span>Autos atendidos por rider <img src="assets/img/excel.png" alt="excel" width="20" height="20" (click)="downloadReport(2)"/></span>
		<br>
		<br>
		<table>
			<tr>
				<th>RUT</th>
				<th>Nombre</th>
				<th>Autos</th>
			</tr>
		  <tr *ngFor="let item of carsByProviders;" (click)="openModalDetail(item,1)">
				<td>{{item.rut}}</td>
				<td>{{item.name}}</td>
				<td>{{item.cars_count}}</td>
		  </tr>
		</table>
		<button ion-button color="secondary" (click)="openModal(1)" *ngIf="carsByProviders.length==3">VER TODOS</button>
	</div>

	<div class="table-content" ion-row *ngIf="reports.money_by_providers.length>0">
		<span>Dinero generado por rider <img src="assets/img/excel.png" alt="excel" width="20" height="20" (click)="downloadReport(3)"/></span>
		<br>
		<br>
		<table>
			<tr>
				<th>RUT</th>
				<th>Nombre</th>
				<th>Monto</th>
			</tr>
		  <tr *ngFor="let item of moneyByProviders;" (click)="openModalDetail(item,2)">
				<td>{{item.rut}}</td>
				<td>{{item.name}}</td>
				<td>{{item.money_total}}$</td>
		  </tr>
		</table>
		<button ion-button color="secondary" (click)="openModal(2)" *ngIf="moneyByProviders.length==3">VER TODOS</button>
	</div>

</ion-content>
