page-reports {

	td, th { border: 1px solid transparent; height: 30px; }
	th { background: #D3D3D3; font-weight: bold; }
	td { background: #FAFAFA; text-align: center; }
	tr:nth-child(even) td { background: #F1F1F1; }  
	tr:nth-child(odd) td { background: #FEFEFE; } 
	tr td:hover { background: none !important;
	    color: black !important; }

	.table-content {
		margin-top: 10px;
		margin-bottom: 30px;
	}

	.table-content span {
		color: #434343;
	    text-align: left;
	    text-decoration: none;
	    font-family: 'Roboto-Bold',Arial;
	    font-size: 12.0pt;
	    width:100%;
    }

   	.table-content table {
	    text-align: center;
	    width: 100%;
    }

    .table-content button {
	    width: 100%;
    }

    .table-content button span {
	    color: white;
	    font-family: 'Roboto-Regular',Arial;
    	font-size: 9.5pt;
    }

    .table-content td {
        font-family: 'Roboto-Bold',Arial;
    	font-size: 10.0pt;
    }

    .table-content-gray span {
		color: #434343 !important;
    }

    .table-content-gray button span {
	    color: white !important;
	    font-family: 'Roboto-Regular',Arial;
    	font-size: 12.0pt;
    }

    .table-content-gray td {
	    border-top-width: 1px;
	    border-top-style: solid;
	    border-top-color: #CCCCCC;
	    border-right-width: 1px;
	    border-right-style: solid;
	    border-right-color: #CCCCCC;
	    border-bottom-width: 1px;
	    border-bottom-style: solid;
	    border-bottom-color: #CCCCCC;
	    border-left-width: 1px;
	    border-left-style: solid;
	    border-left-color: #CCCCCC;
	    background: none !important;
	    color: black !important;
	}

	ion-content .scroll-content {
	    background-color: #efefef !important;
	}

	.table-content tr td:hover {
	    color: black !important;
	    background: none;
	}



}
