

<ion-header id="header">

  <ion-navbar>
    <ion-title>Resumen de orden (4/5)</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row>

    <ion-col col-4 style="text-align:center;">
      <br>
      <br>
      <br>
      <strong>Vehículo:</strong>
    </ion-col>

    <ion-col col-8>
      <ion-card style="margin-top: 0px;margin-bottom: 5px;">
        <div class="img-content-card">
          <img src="{{request.car ? request.car.image_url : ''}}"/>
        </div>
        <ion-card-content>
          <p style="text-align: center;">
            {{ request.car ?  request.car.alias : ''}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>

  <ion-list style="margin-bottom:0px">

    <ion-item text-wrap>
      <ion-icon name="switch"></ion-icon>
      <span class="item-text-des"><strong> Tipo de lavado: </strong>{{request.mode}}</span>
    </ion-item>

    <ion-item *ngIf="!isDiscount">
      <button ion-button (click)="navigateToCoupon()" >Aplicar cupón</button>
    </ion-item>

    <ion-item text-wrap>
      <ion-icon name="time"></ion-icon>
      <span class="item-text-des"><strong> Momento: </strong>{{request.moment + " " + hour}}</span>
    </ion-item>

    <ion-item text-wrap *ngIf="request.extra_comments.length>0">
      <ion-icon name="information-circle"></ion-icon>
      <span class="item-text-des"><strong> Consideraciones del cliente: </strong>{{request.extra_comments}}</span>
    </ion-item>

    <ion-item text-wrap>
      <ion-icon name="map"></ion-icon>
      <span class="item-text-des"><strong> Dirección: </strong>{{request.address}}</span>
    </ion-item>

    <ion-item text-wrap *ngIf="request.indications.length>0">
      <ion-icon name="pin"></ion-icon>
      <span class="item-text-des"><strong> Indicaciones: </strong>{{request.indications}}</span>
    </ion-item>



    <ion-item text-wrap *ngIf="!isDiscount">
      <ion-icon name="logo-usd"></ion-icon>
      <span class="item-text-des"><strong> Monto: </strong>{{totalShow}} $</span>
    </ion-item>

    <ion-item text-wrap *ngIf="isDiscount">
      <ion-icon name="logo-usd"></ion-icon>
      <span class="item-text-des"><strong> Monto: </strong>{{total}} $</span>
    </ion-item>

    <ion-item text-wrap *ngIf="isDiscount">
      <!--<ion-icon name="logo-usd"></ion-icon>-->
      <span class="item-text-des"><strong> Descuento: </strong>{{percentDiscount}} %</span>
      <span class="item-text-des"><strong> Total: </strong>{{totalShow}} $</span>
    </ion-item>


  </ion-list>

  <button style="margin-top:0px;" ion-button (click)="doPay()" full item-end icon-left>
    <ion-icon name="card"></ion-icon>
    Agregar pago
  </button>

</ion-content>
