<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title></ion-title>
    <button color="primary" ion-button style="float:right;box-shadow: none; font-size: 2.5rem;" (click)="refresh()">
      <ion-icon name="refresh"></ion-icon>
    </button>


  </ion-navbar>

</ion-header>


<ion-content>

  <ion-fab right bottom (click)="newRequest(item)">
    <button ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <div padding>
    <!--TODO: cambiar a https://github.com/zyra/ionic2-super-tabs -->
    <ion-segment [(ngModel)]="administrar">
      <ion-segment-button value="Pendiente">
        Pendiente
      </ion-segment-button>
      <ion-segment-button value="Historico">
        Histórico
      </ion-segment-button>

    </ion-segment>
  </div>

  <div [ngSwitch]="administrar">
    <ion-grid *ngSwitchCase="'Pendiente'">
      <ion-row class="" *ngFor="let item of itemsPending ">

        <ion-col col-2 class="col rowTab">
          <ion-avatar item-start>
            <img id="avatars"
                 src="{{ !item.car_detail.image_url ? 'assets/img/carg.png' : api + item.car_detail.image_url }}">
          </ion-avatar>
        </ion-col>

        <ion-col col-6 class="col"><h4 class="infotext">Rider: {{item.provedorname}} </h4>
          <p class="infotext">{{util.getCarClass(item.car_detail.type)}}
          <p>
          <p class="infotext">{{item.address.name}}
          <p></p></ion-col>
        <ion-col col-4 class="col">
          <p [className]="item.status" class="status">{{item.statuse}}</p>
        </ion-col>
        <hr width="100%">
      </ion-row>
      <ion-row *ngIf="itemsPending.length == 0 "><p style="text-align: center;width: 100%;">No hay solicitudes para
        mostrar</p></ion-row>
    </ion-grid>
    <ion-grid *ngSwitchCase="'Historico'">
      <ion-row class="" *ngFor="let item2 of itemsFinish" (click)="rediredhistoricalDetail($event, item2)">
        <ion-col col-2 class="col rowTab">
          <ion-avatar item-start>
            <img id="avatars"
                 src="{{ !item2.car_detail.image_url ? 'assets/img/carg.png' : api + item2.car_detail.image_url }}">
          </ion-avatar>
        </ion-col>
        <ion-col col-6 class="col"><h4 class="infotext">Rider: {{item2.provedorname}} </h4>
          <p class="infotext">{{util.getCarClass(item2.car_detail.type)}} <!-- - Ford -->
          <p>
          <p class="infotext">{{item2.address.name}}
          <p></p></ion-col>
        <ion-col col-4 class="col">

          <div>
            <p class="infotext">{{item2.date}}</p>
            <p style="width: 100%;padding-left: 25%;" *ngIf="item2.rate !== 0">
              <ion-icon color="yellow" [name]="'star'" style="font-size: 2.0em;"></ion-icon>
            </p>
            <p style="width: 100%;padding-left: 25%;" *ngIf="item2.rate === 0 ">
              <ion-icon color="black" [name]="'md-star-outline'"
                        style="font-size: 2.0em;     color: #bdbdbd;"></ion-icon>
            </p>

          </div>

        </ion-col>
        <hr width="100%">
      </ion-row>
      <ion-row *ngIf="itemsFinish.length == 0"><p style="text-align: center;width: 100%;">No hay solicitudes para
        mostrar</p></ion-row>
    </ion-grid>


    <!-- <ion-fab right bottom>
      <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>

    </ion-fab> -->
  </div>
  <br>
  <br>
  <br>
  <!--<button ion-button (click)="logout()">Logout</button>
   <button ion-button (click)="clientSin()">Agregar auto</button> -->
</ion-content>
