page-admin-discounts {
  .icon-dashboard{
    height: 3.5em;

  }

  .icon-dashboard2{
    font-size: 3.5em;

  }
  .dashboard-wh{
    color:#FFFFFF;
  }
  .infodash{
    color:#FFFFFF;
    margin: 0px 0px 0px 2px;
    font-size: 20px;
  }

  td, th { border: 1px solid transparent; height: 30px; }
  th { background: #D3D3D3; font-weight: bold; }
  td { background: #FAFAFA; text-align: center; }
  tr:nth-child(even) td { background: #F1F1F1; }
  tr:nth-child(odd) td { background: #FEFEFE; }
  tr td:hover { background: none !important;
    color: black !important; }
  td, th {
    width: 10%;

  }
  .pending{background: #ff9800;     height: 25px;}
  .finish{ background: #4caf50;  height: 25px;}
  .in_progress{background:#03a9f4;  height: 25px;}
  .canceled{ background: #f33336;  height: 25px;}
  .borde-tab{ padding: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #8b8b8b;
    box-shadow: -2px 2px 8px 0px
  }
  .title{
    font-size: 17px;
  }

  .dashboard-icon {
    text-align: center;
    padding-top: 20px;
  }

  .dashboard-wh h4 {
    font-size: 1.5rem;
  }
}
