<!--
  Generated template for the AdminDiscountsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cupones</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h6>Campañas para descuentos</h6>
  <ion-list [hidden]="!activeForm1">
    <form [formGroup]="model">
      <ion-item>
        <ion-input type="text" formControlName="name_campaign" required
                   minlength="5" maxlength="500" placeholder="Nombre del cupón"></ion-input>
      </ion-item>
      <ion-row class="input-invalid" *ngIf="model.get('name_campaign').errors && (model.get('name_campaign').dirty)">
        <p *ngIf="model.get('name_campaign').hasError('required')">Campo Requerido</p>

        <p *ngIf="model.get('name_campaign').hasError('minlength')">Mínimo 5 Caracteres</p>
        <p *ngIf="model.get('name_campaign').hasError('maxlength')">Máximo 500 Caracteres</p>

        <p *ngIf="model.get('name_campaign').hasError('pattern')">Caracteres no validos</p>
      </ion-row>

      <ion-item>
        <ion-input type="number" formControlName="quantity_available"
                   placeholder="Indique cantidad de cupones" minlength="1" maxlength="10"
                   required></ion-input>
      </ion-item>

      <ion-row class="input-invalid"
               *ngIf="model.get('quantity_available').errors && (model.get('quantity_available').dirty)">
        <p *ngIf="model.get('quantity_available').hasError('required')">Campo Requerido</p>
        <p *ngIf="model.get('quantity_available').hasError('minlength')">Mínimo 5 Caracteres</p>
        <p *ngIf="model.get('quantity_available').hasError('maxlength')">Máximo 500 Caracteres</p>
      </ion-row>

      <ion-item>
        <ion-label>Fecha Inicio</ion-label>
        <ion-datetime display-format="MMM DD, YYYY HH:mm"
                      monthShortNames="Ene, Feb, Mar, Apr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
                      cancelText="Cancelar" doneText="Aceptar"
                      formControlName="begin_date" [attr.value]="init_date"></ion-datetime>
      </ion-item>

      <ion-row class="input-invalid"
               *ngIf="model.get('begin_date').errors && (model.get('begin_date').dirty)">
        <p *ngIf="model.get('begin_date').hasError('required')">Campo Requerido</p>
      </ion-row>

      <ion-item>
        <ion-label>Fecha Vencimiento</ion-label>
        <ion-datetime display-format="MMM DD, YYYY HH:mm"
                      monthShortNames="Ene, Feb, Mar, Apr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
                      cancelText="Cancelar" doneText="Aceptar"
                      formControlName="end_date" [attr.value]="init_date"></ion-datetime>
      </ion-item>

      <ion-row class="input-invalid"
               *ngIf="model.get('end_date').errors && (model.get('end_date').dirty)">
        <p *ngIf="model.get('end_date').hasError('required')">Campo Requerido</p>
      </ion-row>

      <ion-item>
        <ion-textarea type="text" full
                      placeholder="Promoción"
                      required
                      minlength="5" maxlength="500"
                      formControlName="promotion"></ion-textarea>
      </ion-item>

      <ion-row class="input-invalid" *ngIf="model.get('promotion').errors && (model.get('promotion').dirty)">
        <p *ngIf="model.get('promotion').hasError('required')">Campo Requerido</p>

        <p *ngIf="model.get('promotion').hasError('minlength')">Mínimo 5 Caracteres</p>
        <p *ngIf="model.get('promotion').hasError('maxlength')">Máximo 500 Caracteres</p>

        <p *ngIf="model.get('promotion').hasError('pattern')">Caracteres no validos</p>
      </ion-row>

      <ion-item>
        <ion-label>Autos</ion-label>
        <ion-select placeholder="Seleccione una opción" formControlName="type_vehicle">
          <ion-option *ngFor="let i of autos" value="{{i.nombre}}">{{i.nombre}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-row class="input-invalid"
               *ngIf="model.get('type_vehicle').errors && (model.get('type_vehicle').dirty)">
        <p *ngIf="model.get('type_vehicle').hasError('required')">Campo Requerido</p>
      </ion-row>

      <ion-item>
        <ion-label>Servicios</ion-label>
        <ion-select placeholder="Seleccione una opción" formControlName="type_service">
          <ion-option *ngFor="let i of typeServices" value="{{i.nombre}}">{{i.nombre}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-row class="input-invalid"
               *ngIf="model.get('type_service').errors && (model.get('type_service').dirty)">
        <p *ngIf="model.get('type_service').hasError('required')">Campo Requerido</p>
      </ion-row>

      <ion-item>
        <ion-input type="number" formControlName="discount"
                   placeholder="Indique descuento" minlength="1" maxlength="3"
                   required></ion-input>
      </ion-item>

      <ion-row class="input-invalid" *ngIf="model.get('discount').errors && (model.get('discount').dirty)">
        <p *ngIf="model.get('discount').hasError('required')">Campo Requerido</p>
        <p *ngIf="model.get('discount').hasError('minlength')">Mínimo 5 Caracteres</p>
        <p *ngIf="model.get('discount').hasError('maxlength')">Máximo 500 Caracteres</p>
      </ion-row>

      <ion-item>
        <button ion-button type="button" (click)="cancelar()">Cancelar</button>
        <button ion-button type="button" *ngIf="activeCreateBtn" [disabled]="!model.valid"
                (click)="addCampaign(model.value)">Crear
        </button>
        <button ion-button type="button" *ngIf="activeEditBtn" [disabled]="!model.valid"
                (click)="updateCampaign(model.value)">Actualizar
        </button>
      </ion-item>
    </form>
  </ion-list>

  <ion-list [hidden]="!activeListCampaign">
    <ion-list *ngFor="let i of campaign">
      <ion-item>
        {{i.name_campaign}}
      </ion-item>
      <ion-item>
        {{i.total_quantity}}
      </ion-item>
      <ion-item>
        {{i.end_date | date:'dd-MM-yyyy'}}
      </ion-item>
      <ion-item>
        <button ion-button (click)="edit(i)">Editar</button>
        |
        <button ion-button (click)="show_list(i)">Detalle</button>
      </ion-item>
    </ion-list>

    <!--<ion-grid [hidden]="!activeListCoupon">-->
    <!--<ion-row>-->
    <!--<ion-col *ngFor="let i of status" (click)="show_coupons(i.value)">-->
    <!--<a href="#">{{i.name}}</a>-->
    <!--</ion-col>-->
    <!--</ion-row>-->
    <!--</ion-grid>-->
  </ion-list>

  <ion-list [hidden]="!activeListCoupon">
    <ion-item>
      <button ion-button clear icon-start color="primary" (click)="cancelar()">
        <ion-icon name="arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-item>
    <ion-item>
      <span class="item-text-des"><strong> Cupón: </strong>{{name_campaign}}</span>
    </ion-item>
    <ion-list *ngFor="let i of coupons">
      <ion-item text-wrap>
        <span class="item-text-des"><strong> Total: </strong>{{i.campaign_id.total_quantity}}</span>
      </ion-item>
      <ion-item>
        <span class="item-text-des"><strong> Utilizados: </strong>{{i.campaign_id.total_quantity - i.campaign_id.quantity_available}}</span>
      </ion-item>

      <ion-item>
        <span class="item-text-des"><strong> Disponibles: </strong>{{i.campaign_id.quantity_available }}</span>
      </ion-item>

      <ion-item>
        <span class="item-text-des"><strong> Descuento: </strong>{{i.campaign_id.detail.discount}}%</span>
      </ion-item>

      <ion-item>
        <span
          class="item-text-des"><strong> F. Vecimiento: </strong>{{i.campaign_id.end_date | date:"dd/MM/yyyy" }}</span>
      </ion-item>
      <ion-item>
        <!--<span-->
          <!--class="item-text-des"><strong>Usuarios: </strong></span>-->
        <!--<pre>{{ coupons1 | json }}</pre>-->
        <!--<ion-item *ngFor="let j of coupons1">-->
          <!--<ion-item>-->
            <!--<span-->
              <!--class="item-text-des">-->
              <!--<strong>Usuario:</strong>{{j.user_id.email}}-->
            <!--</span>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
            <!--<span-->
              <!--class="item-text-des"><strong>T. Servicios: </strong>-->
              <!--{{j.campaign_id.detail.type_service}}-->
            <!--</span>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
            <!--<span-->
              <!--class="item-text-des">-->
              <!--<strong>T. Vehiculo: </strong>-->
              <!--{{i.campaign_id.detail.type_vehicle}}-->
            <!--</span>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
            <!--<span-->
              <!--class="item-text-des"><strong>Status: </strong>-->
              <!--{{translateStatus(i.status)}}-->
            <!--</span>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
            <!--<span-->
              <!--class="item-text-des">-->
              <!--<strong>Fecha: </strong>-->
              <!--{{i.updated_at | date:"dd/MM/yyyy" }}-->
            <!--</span>-->
          <!--</ion-item>-->
        <!--</ion-item>-->

        <!--<ion-grid>-->
          <!--<ion-row>-->
            <!--<ion-col *ngFor="let i of columns" style="font-size: 9px;"><strong>{{i}}</strong></ion-col>-->
          <!--</ion-row>-->
          <!--<ion-row *ngFor="let j of coupons1" style="font-size: 9px;">-->
            <!--<ion-col >-->
              <!--{{j.user_id.email}}-->
            <!--</ion-col>-->
            <!--<ion-col>-->
              <!--{{j.campaign_id.detail.type_service}}-->
            <!--</ion-col>-->
            <!--<ion-col>-->
              <!--{{j.campaign_id.detail.type_vehicle}}-->
            <!--</ion-col>-->
            <!--<ion-col>-->
              <!--{{translateStatus(j.status)}}-->
            <!--</ion-col>-->
            <!--<ion-col>-->
              <!--{{j.updated_at | date:"dd/MM/yyyy" }}-->
            <!--</ion-col>-->
          <!--</ion-row>-->
        <!--</ion-grid>-->

        <!--<ion-row class="home-dashboard">-->
          <!--<ion-col col-12 class="borde-tab ">-->
            <table >
              <tr>
                <th *ngFor="let x of columns" style="font-size: 9px;">{{x}}</th>
              </tr>
              <tr *ngFor="let j of coupons1" style="font-size: 8.5px;">
                <td>{{j.user_id.email}}</td>
                <td>{{j.campaign_id.detail.type_service}}</td>
                <td>{{j.campaign_id.detail.type_vehicle}}</td>
                <td>{{translateStatus(j.status)}}</td>
                <td>{{j.updated_at | date:"dd/MM/yyyy" }}</td>
              </tr>
            </table>
          <!--</ion-col>-->
        <!--</ion-row>-->

      </ion-item>
      <!--<ion-item>-->
        <!--<button ion-button color="secondary" (click)="showAlert()">-->
          <!--Detalle-->
        <!--</button>-->
      <!--</ion-item>-->
    </ion-list>
  </ion-list>

</ion-content>

<ion-footer id="footer" [hidden]="activeForm">
  <ion-fab right bottom (click)="activeCampaign()">
    <button ion-fab color="secondary">
      <ion-icon name="add" style="font-size: 2.5rem;"></ion-icon>
    </button>
  </ion-fab>
</ion-footer>
