<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
    <ion-title>Nuevo Auto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="FormCar" (ngSubmit)="registercar()">
    <ion-list>
    <p class="msg-req" *ngIf="submitAttempt">Por favor, complete la Información requerida.</p>

    <p style="width: 100%;text-align: center;margin-top: 0px;">Agregar Auto a tu perfil.</p>

    <ion-item>
      <ion-label>Tipo de Auto</ion-label>
        <ion-select  name="name" placeholder="Seleccione" okText="Aceptar" cancelText="Cancelar" formControlName="type" >
        <ion-option value="a">Turismo pequeño</ion-option>
        <ion-option value="b">Turismo Mediano</ion-option>
        <ion-option value="c">Turismo gama alto</ion-option>
        <ion-option value="d">Todo terreno</ion-option>
      </ion-select>
    </ion-item>
    <ion-row class="input-invalid" *ngIf="FormCar.get('type').errors && (FormCar.get('type').dirty || submitAttempt)">
        <p *ngIf="FormCar.get('type').hasError('required')">Campo Requerido</p>
      </ion-row>


    <ion-item>
      <ion-label>Marca de Auto</ion-label>
        <ion-select (ngModelChange)="onChange($event)" name="name" placeholder="Seleccione" okText="Aceptar" cancelText="Cancelar" formControlName="brand">
        <ion-option *ngFor="let itemsCarsbrand of itemsCarsbrands; let i = index" value={{i}}>{{itemsCarsbrand.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="itemscarmodels.length>0">
      <ion-label  *ngIf="itemscarmodels.length>0 && itemscarmodels[0] !== 'unit'">Modelo de Auto</ion-label>
        <ion-select *ngIf="itemscarmodels.length>0 && itemscarmodels[0] !== 'unit'"  name="name" placeholder="Seleccione" okText="Aceptar" cancelText="Cancelar" formControlName="model" >
            <ion-option  *ngFor="let itemscarmodel of itemscarmodels; let i = index" value={{i}}>{{itemscarmodel.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-row class="input-invalid" *ngIf="FormCar.get('model').errors && (FormCar.get('model').dirty || submitAttempt)">
      <p *ngIf="FormCar.get('model').hasError('required')">Campo Requerido</p>
    </ion-row>

      <ion-item>
        <ion-label floating>Número de puertas</ion-label>
        <ion-input type="number" formControlName="doors"></ion-input>
      </ion-item>
      <ion-row class="input-invalid" *ngIf="FormCar.get('doors').errors && (FormCar.get('doors').dirty || submitAttempt)">
        <p *ngIf="FormCar.get('doors').hasError('required')">Campo Requerido</p>
      </ion-row>

      <ion-item>
        <ion-label floating>Color</ion-label>
        <ion-input type="text" formControlName="color"></ion-input>
      </ion-item>
      <ion-row class="input-invalid" *ngIf="FormCar.get('color').errors && (FormCar.get('color').dirty || submitAttempt)">
        <p *ngIf="FormCar.get('color').hasError('required')">Campo Requerido</p>
      </ion-row>



      <ion-item>
        <ion-label floating>Patente</ion-label>
        <ion-input type="text" formControlName="license_plate"></ion-input>
      </ion-item>
      <ion-row class="input-invalid" *ngIf="FormCar.get('license_plate').errors && (FormCar.get('license_plate').dirty || submitAttempt)">
        <p *ngIf="FormCar.get('license_plate').hasError('required')">Campo Requerido</p>


      </ion-row>

      <ion-item>
        <ion-label>Auto: </ion-label>
        <ion-input type="text" formControlName="alias" placeholder="Ej: 'La nave', 'Mi nube', 'La paila'"></ion-input>
      </ion-item>
      <ion-row class="input-invalid" *ngIf="FormCar.get('alias').errors && (FormCar.get('alias').dirty || submitAttempt)">
         <p *ngIf="FormCar.get('alias').hasError('required')">Campo Requerido</p>
       </ion-row>

       <ion-item style="text-align:center" (click)="accessGallery()">
         <p>Sube una foto de tu vehículo: </p>
         <img class="imgurl" style="height:60px; width:85px;"  [src]="_DomSanitizationService.bypassSecurityTrustUrl(Image_avatar)">
       </ion-item>

       <ion-buttons class="center">
         <button ion-button type="submit" color="primary" full>
         Agregar
       </button>
       </ion-buttons>

   </ion-list>


  </form>
</ion-content>
