<!--
  Generated template for the ModeSelectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Elige el tipo de lavado (2/5)</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list radio-group no-lines [(ngModel)]="type">
    <h6>Elige el tipo de lavado</h6>

    <ion-item style="padding-left: 2% !important;">
      <ion-label>Solo exterior</ion-label>
      <ion-radio checked="true" value="ext_only" (ionSelect)="showAlert(0)"></ion-radio>
    </ion-item>

    <ion-item style="padding-left: 2% !important;">
      <ion-label>Exterior e interior</ion-label>
      <ion-radio value="in_and_out" (ionSelect)="showAlert(1)"></ion-radio>
    </ion-item>

  </ion-list>

  <ion-list radio-group no-lines [(ngModel)]="moment">

    <h6>Elige el momento del lavado</h6>

    <ion-item style="padding-left: 2% !important;">
      <ion-label>Inmediato <span style="font-size: small;">(2 horas de gracia)</span></ion-label>
      <ion-radio checked="true" value="inmediato" (click)="showDateF(false)"></ion-radio>
    </ion-item>
    <ion-item style="padding-left: 2% !important;">
      <ion-label>Agendar <span style="font-size: small;">(hora y día)</span></ion-label>
      <ion-radio value="agendar" (click)="showDateF(true)"></ion-radio>
    </ion-item>
    <ion-item *ngIf="showDate">
      <ion-label>Fecha de cita</ion-label>
      <ion-datetime displayFormat="DD MM YYYY" min="{{showDateMin}}" max="{{showDateMax}}" cancelText="Cancelar"
                    doneText="Aceptar" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="showDate">
      <ion-label>Hora:</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" cancelText="Cancelar" doneText="Aceptar"
                    [(ngModel)]="myHour"></ion-datetime>
    </ion-item>
  </ion-list>


  <ion-list *ngIf="isCoupon===true">
    <h6>Cupón de descuento</h6>
    <ion-list *ngIf="listCoupon.length==1">
      <ion-list>
        <ion-item *ngFor="let i of listCoupon">
          <ion-checkbox (ionChange)="selectCopupon(i,$event)"></ion-checkbox>
          <ion-label>{{i.coupon_code}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-list>
    <ion-list *ngIf="listCoupon.length>1">
      <!--<ion-list radio-group [(ngModel)]="coupon_code">-->
      <ion-list radio-group [(ngModel)]="id_coupon">
        <ion-item>
          <ion-radio value="undefined" ></ion-radio>
          <ion-label>No aplicar descuento</ion-label>
        </ion-item>
        <ion-item *ngFor="let i of listCoupon">
          <ion-radio value="{{i._id}}"></ion-radio>
          <ion-label>{{i.coupon_code}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-list>

  <h6>Consideraciones adicionales del cliente</h6>

  <ion-list>

    <ion-item>
      <ion-textarea type="text" full
                    placeholder="Las llaves se retiran en conserjería con Francisco y dejar ahí al término"
                    [(ngModel)]="extraComments"></ion-textarea>
    </ion-item>

  </ion-list>

  <button ion-button (click)="next()" full>Continuar</button>


</ion-content>
