.alert-md .alert-title {
    font-size: 19px !important;
}

login-page {

  button-inner {
      padding-left: 0% !important;
  }

  .main-logo {
    margin-left: 22%;
    margin-right: 22%;
    padding-top: 1%;
  }

  .facebook-login {
    margin-bottom: 1px;
    padding-top: 1%;
    margin-left: 12.5%;
    margin-right: 12.5%;
  }

  .facebook-login button {
    border-radius: 5px; text-transform: none;
  }
  .facebook-login button label {
    text-transform: none;
    cursor:pointer;
    color: #fff;
    position: relative;
    left: -22px;
  }
  .facebook-login button label img {
    width: auto;
    height: 27px;
    margin-right: 6px;
  }

  .msg-req {
    margin-top: 1%;
    margin-bottom: 0%;
    text-align: center;
    width: 100%;
  }

  .element-space {
    margin-left: 13%;
    width: 74% !important;
  }

  .register-buttons {
    margin-left: 13%;
    margin-right: 13%;
    padding-top: 0%;
  }

  .client-register {
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 6%;
    padding-right: 6%;
  }
  .washer-register {
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 6%;
    padding-right: 6%;
  }

  .input-invalid p {
    margin-top: 1%;
    margin-bottom: 0%;
    text-align: center;
    width: 100%;
  }

  .list-md {
      margin: -1px 0 7px;
  }

  .text-facebook-button {
    position: relative;
    left: -15px;
  }
}
