<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content [hidden]="!showLogin">
  <ion-row class="logo-row">
    <ion-col class="main-logo">
      <img src="assets/img/logo_waash_03.png" alt="Rounded Image" class="img-rounded">
    </ion-col>
  </ion-row>
  <!--<ion-row class="logo-row">-->
  	<!--<ion-col width-100 class="center facebook-login">-->
			<!--<button type="submit" ion-button color="primary" block color="bluface" (click)="loginFacebook()"><label class="login-facebook"> <img src="assets/img/facebook-login.png">-->
      <!--</label><span class="text-facebook-button">Inicia sesión</span></button>-->
		<!--</ion-col>-->
  <!--</ion-row>-->
  <ion-row>
    <ion-col width-100>
	    <form [formGroup]="registerCredentials" (ngSubmit)="LoginPage()">
					<p class="msg-req" *ngIf="submitAttempt">Por favor, complete la Información requerida.</p>
					<ion-list>
						<ion-item class="element-space">
							<ion-input class="center-input" placeholder="Correo" type="email" name="email" formControlName="email" required="required"></ion-input>
						</ion-item>
					  	<ion-row class="input-invalid" *ngIf="registerCredentials.get('email').errors && (registerCredentials.get('email').dirty || submitAttempt)">
								<p *ngIf="registerCredentials.get('email').hasError('required')">Campo Requerido</p>
								<p *ngIf="registerCredentials.get('email').hasError('maxlength')">Máximo 30 caracteres</p>
								<p *ngIf="registerCredentials.get('email').hasError('pattern')">Ingrese un correo electrónico válido</p>
							</ion-row>
						<ion-item class="element-space">
							<ion-input class="center-input" placeholder="Contraseña" type="password" name="password" formControlName="password" required="required"></ion-input>
						</ion-item>
		    		<ion-row class="input-invalid" *ngIf="registerCredentials.get('password').errors && (registerCredentials.get('password').dirty || submitAttempt)">
			      	<p *ngIf="registerCredentials.get('password').hasError('required')">Campo Requerido</p>
				    	<p *ngIf="registerCredentials.get('password').hasError('maxlength')">Máximo 30 caracteres</p>
				   	  <p *ngIf="registerCredentials.get('password').hasError('pattern')">Solo se aceptan letras</p>
			    	</ion-row>
			    </ion-list>
					<div class="element-space">
						<button type="submit" ion-button color="primary" block ion-button style="border-radius: 5px;">Entrar</button>
            <button type="button" ion-button clear style="text-transform: none;" block color="bluelight" (click)="forgot()">¿Olvidó contraseña?</button>
					</div>
			</form>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col class="left register-buttons">
			<button style="margin:0" type="button" class="btn btn-green btn-xs btn-responsive left client-register" (click)="createAccount()"><span style="top: 6px;position: relative;">Regístrate</span><br>&nbsp;</button>
			<button style="margin:0" type="button" class="btn btn-green btn-xs btn-responsive right washer-register" (click)="createAccountWasher()">Conviértete en<br>Rider</button>
		</ion-col>
	</ion-row>
</ion-content>
