<ion-header>

  <ion-navbar>
    <ion-title>Elige uno de tus vehículos (1/5)</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row class="item-grid">
    <ion-col col-6 *ngFor="let itemsCars of itemsCars">
      <ion-card (click)="next(itemsCars)">
        <div class="img-content-card" style="height:85px">
          <img src="{{itemsCars.image_url}}" style="height:100px"/>
        </div>
        <ion-card-content>
          <ion-card-title style="text-align:center;">
            {{itemsCars.alias}}
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
