
page-vehicle-selection {
  .card-title-md {
    font-size: 1.3rem !important;
  }
  .col {
      padding: 0px !important;
  }

  .img-content-card {
    text-align: center;
    width: 100%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .button{
    width: 64px;
    height:20px;
    background-color: #6F1704;
    border-width: 0px;
    border-style: solid;
    border-color: #6F1704;
    border-radius: 1px 1px 1px 1px;
    padding: 1px;
    box-shadow: 0px 3px 4px 0px #A0A0A0;
    font-size: 9.0pt;
    font-family: 'Roboto-Regular',Arial;
    margin-left: 35px;
}


}
