<ion-header>
    <ion-navbar>
      <ion-title>Servicio en Progreso</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <div #map id="map"></div>
    <div class="zoom-map">
      <img src="assets/img/showmap.png" (click)="showLoc()"/>
    </div>
    <div padding style="padding-top:0px;position: relative;top: 38%; background:white" >
      <p><strong>Dirección:</strong>{{selectedItem.address.name}}</p>
      <p><strong>Indicaciones:</strong> {{selectedItem.address.indications}}</p>
      <ion-row class=""  >
          <ion-col col-12   class="col" > <strong>Datos del cliente:</strong></ion-col>
         <ion-col col-6   class="col" >Nombre: {{selectedItem.customer.profile.name + " " +selectedItem.customer.profile.last_name}}</ion-col>
         <ion-col col-6  class="col" >Teléfono: {{selectedItem.customer.profile.phone}}</ion-col>

      </ion-row>
      <ion-row class=""  >
          <ion-col col-12   class="col" >  <strong>Datos del Vehículo:</strong></ion-col>
          <ion-col col-6   class="col" >Tipo:{{ util.getCarClass(selectedItem.car_detail.type) }}</ion-col>
          <ion-col col-6  class="col" >Marca: {{selectedItem.car_detail.model.car_brand ? selectedItem.car_detail.model.car_brand.name : ''}}</ion-col>
          <ion-col col-12  class="col" >Modelo: {{selectedItem.car_detail.model.name}}</ion-col>
          <ion-col col-6   class="col" >Color:{{selectedItem.car_detail.color}}</ion-col>
          <ion-col col-6  class="col" >Puertas: {{selectedItem.car_detail.doors}}</ion-col>
          <ion-col col-12  class="col" >Patente: {{selectedItem.car_detail.license_plate}}</ion-col>
          <ion-col *ngIf="!!selectedItem.car_detail.image_url" col-12  class="col" >
            <div style="text-align:center"><img src="{{ api + selectedItem.car_detail.image_url }}" style="max-height:300px;"></div>
          </ion-col>
      </ion-row>
      <ion-row class=""  >
        <ion-col col-12   class="col" >  <strong>Datos del Servicio:</strong></ion-col>
      <ion-col col-6   class="col" >Modalidad:{{tipo}}</ion-col>
        <ion-col col-6 *ngIf="selectedItem.is_scheduled===false" class="col">Fecha: {{selectedItem.date}}</ion-col>
        <ion-col col-6 *ngIf="selectedItem.is_scheduled===true" class="col">Fecha: {{selectedItem.date}}
          {{util.formatHour(selectedItem.hours, selectedItem.minutes)}}
        </ion-col>
      <ion-col col-12  class="col" >Consideración: {{selectedItem.extra_comments}} </ion-col>
    </ion-row>
      <div class="des-buttons">
        <button ion-button type="submit" color="primary" full style="border-radius: 4px;" (click)="redired2(selectedItem)">Marcar como Completado</button>
      </div>
      <!--<div class="des-buttons">
        <button ion-button type="submit" color="primary" full style="border-radius: 4px;" (click)="redired(selectedItem)">Cancelar</button>
    	</div> -->
  </div>




  </ion-content>
