
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
    <ion-title>Beneficios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list no-lines>
    <ion-item text-wrap>
      <ion-icon name="water" item-start></ion-icon>
        Lava y encera sin daño.
      <ion-icon name="checkmark" item-end style="color:#60c953"></ion-icon>
    </ion-item>
    <ion-item text-wrap>
      <ion-icon name="car" item-start></ion-icon>
        Protege la pintura de rayos UV, residuos de aves y resina de árboles.
        <ion-icon name="checkmark" item-end style="color:#60c953"></ion-icon>
    </ion-item>
    <ion-item text-wrap>
      <ion-icon name="medical" item-start></ion-icon>
        Repelente de polvo.
        <ion-icon name="checkmark" item-end style="color:#60c953"></ion-icon>
    </ion-item>
    <ion-item text-wrap>
      <ion-icon name="leaf" item-start></ion-icon>
        Contribución al medio ambiente.
        <ion-icon name="checkmark" item-end style="color:#60c953"></ion-icon>

    </ion-item>
  </ion-list>
  <div style="text-align:center;">
    <img src="assets/img/dibujo-waash-oscuro.png" style="height: 165px;max-width: 100%;"/>
  </div>
</ion-content>
