page-request-detail {

	.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
		background-image: none !important;
	}

	ion-header .toolbar-background {
		background: rgba(14, 72, 30, 0) !important;
	}

	.scroll-content {
    	margin-top: 0px !important;
	}

	.status-nav {
		background-color: #08AE9E;
	    color: white;
	    width: fit-content;
	    border-radius: 3px;
	    float: right;
	    margin-right: 21px;
	    padding-left: 12px;
	    padding-right: 12px;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    box-shadow: 0px 3px 4px 0px #A0A0A0;
	}

	.status-nav-text {
		font-family: 'Roboto-Regular',Arial;
		font-size: 12.0pt;
	}

	.sol-header img {
		width:100%;
		height: 229px;
	}

	.sol-title {
		margin-top:-40px;
	}

	.sol-title span {
		color: #FFFFFF;
	    text-align: left;
	    font-family: 'Roboto-Thin',Arial;
	    font-size: 25.0pt;
	    line-height: 0px;margin-left: 2%;
			background-color: rgba(0, 0, 0, 0.64);
			padding-left: 1%;
			padding-right: 1%;
			background-color: #1a8838;
			border: 1px solid #16732f;
			opacity: 0.6;
	}

	.list-md {
	    margin-top: 22px !important;
	}

	.item-text-des {
		color: #434343;
	    text-align: left;
	    font-family: 'Roboto-Regular',Arial;
	    font-size: 10.0pt;
	    margin-left: 2%;
	}

	.item-text-sub {
		color: #747474;
	    font-family: 'Roboto-Thin',Arial;
	    font-size: 10.0pt;
	    margin-left: 2%;
	}

	.des-buttons {
		width: 100%;
		text-align: center;
		margin-top: -20px;
	}

	ion-label {
	   margin-bottom: 25px !important;
	}

	.box button span ion-icon{
		background-color: #1a8838;
		border: 1px solid #16732f;
		opacity: 0.6;
	 
	
	  }
}
