<ion-header>

  <ion-navbar color="secondary" class="box">
 	<div class="status-nav">
 	 <span class="status-nav-text">{{selectedItem.showStatus}}</span>
 	</div>
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="sol-header">
		<img src="{{api + selectedItem.user.profile.avatar_url}}">
		<div class="sol-title"><span>{{selectedItem.user.profile.name + " " + selectedItem.user.profile.last_name}}</span></div>
	</div>
	<ion-list padding>

	  <ion-item text-wrap>
	    <img src="assets/img/phone.png"  item-start/>
	    <span class="item-text-des">{{selectedItem.user.profile.phone}}</span>
	  </ion-item>

	  <ion-item text-wrap>
	    <img src="assets/img/ubi.png"  item-start/>
	    <span class="item-text-des">{{selectedItem.user.profile.address}}</span>
	  </ion-item>

	  <ion-item text-wrap>
	    <img src="assets/img/mess.png"  item-start/>
	    <span class="item-text-des">RUT: {{selectedItem.user.profile.rut}}</span>
	  </ion-item>

	  <ion-item text-wrap>
	    <img src="assets/img/user.png"  item-start/>
	    <span class="item-text-des">{{selectedItem.user.email}}</span>
	    <br>
	    <span class="item-text-sub">Personal</span>
	  </ion-item>

    <ion-item text-wrap>
      <ion-icon name="document" item-start></ion-icon>
      <span class="item-text-sub" style="margin-left:0%" (click)="downloadFile(api+selectedItem.user.profile.avatar_url)">Avatar</span><br><br>
      <span class="item-text-sub" style="margin-left:0%" (click)="downloadFile(api+selectedItem.user.profile.ci_anv_url)">Anverso CI</span><br><br>
      <span class="item-text-sub" style="margin-left:0%" (click)="downloadFile(api+selectedItem.user.profile.ci_rev_url)">Reverso CI</span><br><br>
      <span class="item-text-sub" style="margin-left:0%" (click)="downloadFile(api+selectedItem.user.profile.cv_url)">CV</span><br><br>
      <span class="item-text-sub" style="margin-left:0%" (click)="downloadFile(api+selectedItem.user.profile.background_url)">Antecedentes</span>

    </ion-item>

	</ion-list>

	<div class="des-buttons">
		<button *ngIf="selectedItem.status==='pending' || selectedItem.status==='rejected' " ion-button color="primary" (click)="changeRequestStatus('accepted')">Dar de alta</button>
		<button *ngIf="selectedItem.status==='pending' || selectedItem.status==='accepted' " ion-button color="danger" (click)="changeRequestStatus('rejected')">Dar de baja</button>
	</div>

</ion-content>
