page-payment {
  .form-row{
    padding: 10px;
  }

  .StripeElement {
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
      display: none;
  }

  .buttons-slide {
    width : 100%;
    position: fixed;
    padding-right: 2%;
    top:238px;
  }

  .buttons-slide button {
    font-size: 1.2rem !important;
    height: 1.8em;
  }

  .button-large-md {
    font-size: 1.5rem;
  }

  .jp-card .jp-card-front, .jp-card .jp-card-back {
    background: #a0a0a0;
  }


  .client-id ion-input input {
      text-align: center;
  }

  ion-select {
    max-width: 40%;
  }

  .jp-card-container {
    width: 100%;
    max-width: 290px;
  }

  .jp-card .jp-card-front .jp-card-lower .jp-card-name {
    font-size: 14px;
  }

  .jp-card-container {
    height: 176px;
  }

  .small-input .item-label-stacked .text-input-md, .item-label-floating .text-input-md {
    margin-left: 0;
    margin-top: 4px;
    margin-bottom: 4px;
    width: calc(100% - 8px);
  }


  .jp-card .jp-card-front .jp-card-lower .jp-card-number {
    font-size: 19px;

    }

  .jp-card .jp-card-front .jp-card-lower {
      bottom: 18px;
  }


  .jp-card {
    margin-top: 2px;
    min-width: 251px;
  }

  .green-top {
    border-top: 8px solid #27d657;
  }

  ion-select {
      max-width: 50%;
      padding: 0px !important;
  }

  .jp-card .jp-card-front .jp-card-lower .jp-card-number {
    margin-bottom: 19px;
  }

  .invalid-input > .item-inner {
      border-bottom: 1px solid rgb(245, 61, 61);;
      border-bottom-color: #f53d3d !important;
      -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d;
      box-shadow: inset 0 -1px 0 0 #f53d3d;
  }

  .item-input-has-focus .item-inner {
    border-bottom: 1px solid #26c852;
    border-bottom-color: #26c852 !important;
    -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d;
    box-shadow: inset 0 -1px 0 0 #f53d3d;
  }

  .item-input-has-focus .item-input-has-value .item-inner {
    border-bottom: 1px solid #26c852;
    border-bottom-color: #26c852 !important;
    -webkit-box-shadow: inset 0 -1px 0 0 #26c852;
    box-shadow: inset 0 -1px 0 0 #26c852;
  }

  .input-valid .item-input-has-value .item-inner {
    border-bottom: 1px solid #26c852;
    border-bottom-color: #26c852 !important;
    -webkit-box-shadow: inset 0 -1px 0 0 #26c852;
    box-shadow: inset 0 -1px 0 0 #26c852;
  }



}
