
<ion-header id="header-finish" *ngIf="cardSlider.getActiveIndex()==4 || isIos">

  <ion-navbar>
    <ion-title>Pago (5/5)</ion-title>
  </ion-navbar>

</ion-header>


<ion-content id="content-resumen" [className]="cardSlider.getActiveIndex()<4 && !isIos ? 'green-top' : ''">


  <div class="card-wrapper" [hidden]="cardSlider.getActiveIndex()==4" *ngIf="!isIos"></div>

  <div class="form-container active">
      <ion-list padding id="form" name="pay" style="padding-top:0px;">


      <ion-item *ngIf="isIos" text-wrap [hidden]="cardSlider.getActiveIndex()==4">
        <ion-icon name="person" item-start></ion-icon>
          Datos de la Tarjeta
        <ion-icon name="card" item-end></ion-icon>
      </ion-item>
      <br>
      <form *ngIf="isIos" [hidden]="cardSlider.getActiveIndex()==4" [formGroup]="iosForm">
        <ion-item>
          <ion-label floating style="margin-top: 6px;">Número de tarjeta</ion-label>
          <ion-input type="number" formControlName="number" [class.invalid]="!iosForm.controls.number.valid && (iosForm.controls.number.dirty || submitAttempt)"></ion-input>
          <p *ngIf="iosForm.get('number').hasError('pattern')">Solo se aceptan números</p>
        </ion-item>
        <ion-row class="input-invalid" *ngIf="iosForm.get('number').errors && (iosForm.get('number').dirty || submitAttempt)">
          <p *ngIf="iosForm.get('number').hasError('required')">Campo Requerido</p>
        </ion-row>

        <ion-item>
          <ion-label floating style="margin-top: 6px;">Nombre Completo Titular</ion-label>
          <ion-input type="text" formControlName="name" [class.invalid]="!iosForm.controls.name.valid && (iosForm.controls.name.dirty || submitAttempt)"></ion-input>
        </ion-item>
        <ion-row class="input-invalid" *ngIf="iosForm.get('name').errors && (iosForm.get('name').dirty || submitAttempt)">
          <p *ngIf="iosForm.get('name').hasError('required')">Campo Requerido</p>
          <p *ngIf="iosForm.get('name').hasError('pattern')">Solo se aceptan letras</p>
        </ion-row>

        <ion-row class="client-id">
         <ion-col col-6>
           <ion-item>
              <ion-label color="primary">Mes venc</ion-label>
              <ion-select name="doc" okText="Aceptar" cancelText="Cancelar" placeholder="MM" formControlName="month">
                <ion-option>01</ion-option>
                <ion-option>02</ion-option>
                <ion-option>03</ion-option>
                <ion-option>04</ion-option>
                <ion-option>05</ion-option>
                <ion-option>06</ion-option>
                <ion-option>07</ion-option>
                <ion-option>08</ion-option>
                <ion-option>09</ion-option>
                <ion-option>10</ion-option>
                <ion-option>11</ion-option>
                <ion-option>12</ion-option>
              </ion-select>
           </ion-item>

       </ion-col>
       <ion-col col-6>
         <ion-item>
           <ion-label color="primary">Año venc</ion-label>
           <ion-select name="doc" okText="Aceptar" cancelText="Cancelar" placeholder="AA" formControlName="year">
             <ion-option *ngFor="let yy of yyList;" value="{{yy}}">{{yy}}</ion-option>
           </ion-select>
        </ion-item>
        </ion-col>
        </ion-row>

        <ion-item>
          <ion-label floating style="margin-top: 6px;">CVV</ion-label>
          <ion-input type="number" formControlName="cvc" [class.invalid]="!iosForm.controls.cvc.valid && (iosForm.controls.cvc.dirty || submitAttempt)"></ion-input>
        </ion-item>
        <ion-row class="input-invalid" *ngIf="iosForm.get('cvc').errors && (iosForm.get('cvc').dirty || submitAttempt)">
          <p *ngIf="iosForm.get('cvc').hasError('required')">Campo Requerido</p>
          <p *ngIf="iosForm.get('cvc').hasError('pattern')">Solo se aceptan números</p>
        </ion-row>
      </form>

      <ion-slides  #cardSlider pager [hidden]="cardSlider.getActiveIndex()==4 || isIos">

        <ion-slide>
          <ion-item class="small-input" [ngClass]="numberError ? 'invalid-input' : 'valid-input'">
            <ion-label floating style="margin-top: 6px;">Número de tarjeta</ion-label>
            <ion-input type="tel" name="number" #number></ion-input>
          </ion-item>
        </ion-slide>

        <ion-slide>
          <ion-item class="small-input" [ngClass]="nameError ? 'invalid-input' : 'valid-input'">
            <ion-label floating style="margin-top: 6px;">Nombre Completo</ion-label>
            <ion-input type="text" name="name" #name></ion-input>
          </ion-item>
        </ion-slide>

        <ion-slide>
          <ion-item class="small-input" [ngClass]="expiryError ? 'invalid-input' : 'valid-input'">
            <ion-label floating style="margin-top: 6px;">MM/YY</ion-label>
            <ion-input type="tel" name="expiry" #expiry></ion-input>
          </ion-item>
        </ion-slide>

        <ion-slide>
          <ion-item class="small-input" [ngClass]="cvcError ? 'invalid-input' : 'valid-input'">
            <ion-label floating style="margin-top: 6px;">CVV</ion-label>
            <ion-input type="number" name="cvc" #cvc></ion-input>
          </ion-item>
        </ion-slide>

        <ion-slide>

        </ion-slide>

      </ion-slides>

      <ion-list [hidden]="cardSlider.getActiveIndex()<4" [ngStyle]="{'margin-top': getMarginTop()}">

        <ion-item text-wrap>
          <ion-icon name="person" item-start></ion-icon>
            Datos de Identificación
          <ion-icon name="card" item-end></ion-icon>
        </ion-item>
        <br>
        <ion-item [ngClass]="emailError ? 'invalid-input' : 'valid-input'">
          <ion-label floating>email</ion-label>
          <ion-input type="text" name="email" [(ngModel)]="email" #emailInput></ion-input>
        </ion-item>

        <ion-grid>
          <ion-row class="client-id">
           <ion-col col-4>
             <ion-item [ngClass]="docError ? 'invalid-input' : 'valid-input'">
                <ion-label color="primary">RUT</ion-label>
                <!--<ion-label color="primary">Doc</ion-label>

                <ion-select name="doc" okText="Aceptar" cancelText="Cancelar" (ngModelChange)="onChangeDoc($event)" #docType>
                  <ion-option *ngFor="let doc of docTypes; let i = index" value="{{doc.id}}">{{doc.name}}</ion-option>
                </ion-select> -->
             </ion-item>

         </ion-col>
         <ion-col col-8>
           <ion-item [ngClass]="docnumberError ? 'invalid-input' : 'valid-input'">
            <ion-input type="text" placeholder="12345678K" #docNumberInput></ion-input>
          </ion-item>
          </ion-col>
          </ion-row>
          </ion-grid>

      </ion-list>

      </ion-list>
      <br>
  </div>
  <div class="buttons-slide" [ngStyle]="{'top': isIos ? '-37px' : '256px', 'position' : isIos ? 'relative' : 'fixed' }">
    <button ion-button large clear icon-start color="primary" (click)="prev()">
      <ion-icon name="arrow-back"></ion-icon>
      Anterior
    </button>

    <button ion-button large clear icon-end color="primary" style="float:right" (click)="next()" *ngIf="cardSlider.getActiveIndex()!==4">
      Continuar
      <ion-icon name="arrow-forward"></ion-icon>
    </button>

    <button ion-button large clear icon-start color="primary" style="float:right" (click)="doPay()" *ngIf="cardSlider.getActiveIndex()==4">
      <ion-icon name="card"></ion-icon>
      Pagar
    </button>
  </div>
</ion-content>

<ion-content id="content-finish" style="display:none">
  <div class="center" style="padding: 50px 0px 0px 0px;" ><img src="assets/img/check.png" alt="check" /></div>
<h1><p class="title-register"> Solicitud realizada exitosamente, uno de nuestros riders te atenderá brevemente. </p>
</h1>
  <div class="center" ><button (click)='goToHome()' ion-button color="primary" > Ir al inicio </button>
  </div>
</ion-content>
