<!--
  Generated template for the RequestDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="secondary" class="box" >

    </ion-navbar>

  </ion-header>


  <ion-content >
    <div class="sol-header">
      	<img src="{{api + selectedItem.profile.avatar_url}}" *ngIf="selectedItem.profile.avatar_url !== undefined">
        <img src="assets/img/avatar.jpg" *ngIf="selectedItem.profile.avatar_url === undefined">
      <div class="sol-title"><span class="nameTitle">{{selectedItem.profile.name + " " + selectedItem.profile.last_name}}</span></div>
    </div>

    <ion-list padding class="list">

      <ion-item no-lines text-wrap *ngIf="selectedItem.profile.phone !== undefined"  class="list">
        <img src="assets/img/phone.png"  item-start/>
        <span class="item-text-des">{{selectedItem.profile.phone}}</span>
       <!--  <img src="assets/img/hg.png" item-end/> -->
      </ion-item>

      <ion-item no-lines text-wrap  *ngIf="selectedItem.profile.address !== undefined" class="list">
        <img src="assets/img/ubi.png"   item-start/>
        <span class="item-text-des">{{selectedItem.profile.address}}</span>
         <!--  <ion-icon name="locate" item-end></ion-icon>-->
      </ion-item>

      <ion-item no-lines text-wrap *ngIf="selectedItem.profile.rut !== undefined" class="list">
        <img  src="assets/img/user.png"  item-start/>
        <span class="item-text-des">RUT:{{selectedItem.profile.rut}}</span>
      </ion-item>

      <ion-item no-lines text-wrap *ngIf="selectedItem.email !== undefined" class="list">
        <img src="assets/img/mess.png"  item-start/>
        <span class="item-text-des">{{selectedItem.email}}</span>
        <br>
        <span class="item-text-sub">Personal</span>
      </ion-item>

      <ion-item no-lines text-wrap *ngIf="selectedItem.profile.role === 'provider'" class="list">
        <ion-icon name="briefcase" item-start></ion-icon>
        <strong class="item-text-des" >Recursos Restantes</strong><br>
        <span class="item-text-des" >Líquido Exterior: <strong>{{car_liquid}}ml</strong></span><br>
        <span class="item-text-des" >Líquido de Llantas: <strong>{{wheel_liquid}}ml</strong></span><br>
        <span class="item-text-des">Toallas: <strong>{{towel}}</strong></span><br>

      </ion-item>

      <ion-item no-lines text-wrap *ngIf="selectedItem.profile.role === 'provider'" class="list">
        <ion-icon name="list-box" item-start></ion-icon>
        <ion-row>
          <ion-col col-6>
            <ion-row>
              <span style="font-size: 1.3em;width: 100%;">{{selectedItem.profile.rating}}</span><br>
            </ion-row>
            <ion-row>
              <p style="width: 100%;">
                <ion-icon color="yellow" [name]="'star'" style="font-size: 1.5em;" *ngIf="star1"></ion-icon>
                <ion-icon [name]="'star-outline'" [name]="'star'" style="font-size: 1.5em;" *ngIf="!star1"></ion-icon>

                <ion-icon color="yellow" [name]="'star'" style="font-size: 1.5em;" *ngIf="star2"></ion-icon>
                <ion-icon [name]="'star-outline'" [name]="'star'" style="font-size: 1.5em;" *ngIf="!star2"></ion-icon>

                <ion-icon color="yellow" [name]="'star'" style="font-size: 1.5em;" *ngIf="star3"></ion-icon>
                <ion-icon [name]="'star-outline'" [name]="'star'" style="font-size: 1.5em;" *ngIf="!star3"></ion-icon>

                <ion-icon color="yellow" style="font-size: 1.5em;" *ngIf="star4"></ion-icon>
                <ion-icon [name]="'star-outline'" [name]="'star'" style="font-size: 1.5em;" *ngIf="!star4"></ion-icon>

                <ion-icon color="yellow" style="font-size: 1.5em;" *ngIf="star5"></ion-icon>
                <ion-icon [name]="'star-outline'" [name]="'star'" style="font-size: 1.5em;" *ngIf="!star5"></ion-icon></p>

            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item no-lines text-wrap *ngIf="selectedItem.profile.role === 'provider'" class="list">
         <ion-icon name="paper" item-start></ion-icon>
         <span class="item-text-des"><strong>Comunas:</strong> <span *ngFor="let comunneName of selectedItem.communes; let i = index">{{comunneName}}<span *ngIf="i<selectedItem.communes.length-1">, </span> </span></span>
      </ion-item>




    </ion-list>


  </ion-content>
