page-manage-users-detail {
    .list
    {
        border: 0px !important;
        border-bottom-color: transparent !important;
        background-image: none !important;
        border-bottom: none !important;
    }


            .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
                background-image: none !important;
            }

            ion-header .toolbar-background {
                background: rgba(14, 72, 30, 0) !important;
            }

            .scroll-content {
                margin-top: 0px !important;
            }

            .status-nav-text {
                font-family: 'Roboto-Regular',Arial;
                font-size: 12.0pt;
            }

            .sol-header img {
                width:100%;
                height: 229px;
            }

            .sol-title {
                margin-top:-40px;
            }

            .sol-title span {
                color: #FFFFFF;
                text-align: left;
                font-family: 'Roboto-Thin',Arial;
                font-size: 20.0pt;
                line-height: 0px;margin-left: 2%;
                background-color: rgba(0, 0, 0, 0.64);
                padding-left: 1%;
                padding-right: 1%;
                background-color: #1a8838;
                border: 1px solid #16732f;
                opacity: 0.6;
            }

            .list-md {
                margin-top: 22px !important;
            }

            .item-text-des {
                color: #434343;
                text-align: left;
                font-family: 'Roboto-Regular',Arial;
                font-size: 10.0pt;
                margin-left: 2%;
            }

            .item-text-sub {
                color: #747474;
                font-family: 'Roboto-Thin',Arial;
                font-size: 10.0pt;
                margin-left: 2%;
            }


            ion-label {
               margin-bottom: 25px !important;
            }

  .item-md ion-icon[item-start] + .item-inner {
    margin-left: 0px !important;
  }

  .box button span ion-icon{
    background-color: #1a8838;
    border: 1px solid #16732f;
    opacity: 0.6;


  }




  @media (max-width: 250px) {
    .sol-title span {font-size: 18px; }

  }


}
