<!-- pages/tabs/tabs.html -->
<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
    <button color="secondary" ion-button style="float:right;box-shadow: none; font-size: 2.5rem;" (click)="refresh()">
      <ion-icon name="refresh"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content>

  <div padding>
    <ion-segment [(ngModel)]="administrar">
      <ion-segment-button value="Cliente">
        Clientes
      </ion-segment-button>
      <ion-segment-button value="Riders">
        Riders
      </ion-segment-button>
      <ion-segment-button value="Administradores">
        Administradores
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="administrar">
    <ion-list *ngSwitchCase="'Cliente'">
      <!-- <p *ngIf="items.length==0" style="text-align: center;">No hay solicitudes.</p> -->
      <ion-row class="rowTab" *ngFor="let item of itemsUser" (click)="itemSelected($event, item)">
        <ion-col col-3 class="">
          <ion-avatar><img id="avatar" src="{{api + item.profile.avatar_url}}"
                           *ngIf="item.profile.avatar_url !== undefined">
            <img id="avatar" class="" src="assets/img/avatar.jpg" *ngIf="item.profile.avatar_url === undefined">
          </ion-avatar>
        </ion-col>
        <ion-col col-9 class=""><h4 class="infotext">{{item.profile.name + " " + item.profile.last_name}}</h4>
          <p class="infotext">{{item.profile.phone}}
          <p></ion-col>

      </ion-row>
    </ion-list>

    <ion-grid *ngSwitchCase="'Riders'">
      <ion-row class="" *ngFor="let item2 of itemsProvedor">
        <ion-col col-3 class="col rowTab" (click)="itemSelected($event, item2)">
          <ion-avatar item-start>
            <img id="avatar" src="{{api + item2.profile.avatar_url}}" *ngIf="item2.profile.avatar_url !== undefined">
            <img id="avatar" src="assets/img/avatar.jpg" *ngIf="item2.profile.avatar_url === undefined">

          </ion-avatar>
        </ion-col>
        <ion-col col-4 class="col" (click)="itemSelected($event, item2)"><h4 class="infotext">{{item2.profile.name + " "
          + item2.profile.last_name}}</h4>
          <p class="infotext">RUT: {{item2.profile.rut}}
          <p></ion-col>
        <ion-col col-5 class="col">
          <button ion-button block clear (click)="supply($event, item2)" class="button-pro">
            <ion-icon name="water"></ion-icon>
            <p style="font-size: 7pt;margin-left: 1px;">Asignar Suministro</p></button>
        </ion-col>
        <hr width="100%">
        <ion-col col-5 class="col" (click)="itemSelected($event, item2)"><img src="assets/img/phone.png"
                                                                              class="icon-pro" style=" "></ion-col>
        <ion-col col-7 class="col" (click)="itemSelected($event, item2)"><h4 class="infotext" style="color:#1A8838">
          {{item2.profile.phone}}</h4>
          <p style="font-size: 5.5pt;" class="infotext" style="color:#1A8838">Mobile
          <p></ion-col>

        <hr class="separator-hr" width="100%">
      </ion-row>

    </ion-grid>

    <ion-list *ngSwitchCase="'Administradores'">

      <ion-row class="row rowTab" *ngFor="let item3 of itemsadmin" (click)="itemSelected($event, item3)">
        <ion-col col-3 class="">
          <ion-avatar item-start><img id="avatar" src="{{api + item3.profile.avatar_url}}"
                                      *ngIf="item3.profile.avatar_url !== undefined">
            <img id="avatar" src="assets/img/avatar.jpg" *ngIf="item3.profile.avatar_url === undefined"></ion-avatar>
        </ion-col>
        <ion-col col-9 class="">
          <h4 class="infotext ">
            <ion-icon name="md-person" class="icono"></ion-icon>
            {{item3.profile.name + " " + item3.profile.last_name}}
          </h4>
          <p class="infotext">
            <ion-icon name="md-mail" class="icono"></ion-icon>
            {{item3.email}}
          <p></ion-col>

      </ion-row>


    </ion-list>


    <!-- <ion-fab right bottom>
      <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>

    </ion-fab> -->
  </div>

</ion-content>

<ion-footer id="footer" *ngIf="administrar=='Administradores'">
  <ion-fab right bottom (click)="createAdmin()">
    <button ion-fab color="secondary">
      <ion-icon name="person-add" style="font-size: 2.5rem;"></ion-icon>
    </button>
  </ion-fab>
</ion-footer>
