page-tab-manage-users {
  .segment-md .segment-button {
    font-size: 0.91rem;
    font-weight: 700;
  }
}

.separator-hr {
  background: #bdbdbd !important;
  margin-bottom: 5%;
}

page-tab-manage-users {
  .button-inner{
    padding-left: 10% !important;
  }
}



.infotext{
  margin: 10px 0px 0px 2px;
 font-size: 9pt;
 color: #0E481E;
    }

 .icono{
    margin: 0px 14px 0px 16px;
    color:#828279;


 }
 .buton{
     background: #0e481e;
     color: white;
    text-align: center;
    width: 130px;
 }

 .icon-pro{

    margin: 15px 0px 10px 22px;
    font-size: 55px;
    margin-right: auto;
 }
 .col {
    padding-top: 0px;
   // padding-right: 30px;
    padding-bottom: 0px;
   // padding-left: 80px;
}
.button-pro{
    font-size: 11px;
    margin: 18px 0px 0px 0px;
    border-color: transparent;
    color: #454f47;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}
/*div.container {
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
  }
  img {
  width: 100%;
  height: auto;
  }
*/

#avatar{
  //margin: 0px 0px 0px 0px;
  margin:auto;
  height: 75.5px;
  width: 75.5px;
  border-radius: 50%;
  overflow: hidden;



 }

 .rowTab {
  height: 85px;
   padding-top: 15px;
 }


@media (max-width: 250px) {

  #avatar{
    margin-top: 15%;
  }
}
