// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@import "../../node_modules/ionic2-auto-complete/auto-complete";

.btn-green {
	background-color: #26C852;
    color: #FFFFFF !important;
    padding: 3.1%;
    border-radius: 5px;
}

.btn-green:hover {
	background-color: #0E481E;
	box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}

.footer-login {
	margin-top: 5%;
	width: 70%;
	margin: 0 auto;
}

 .register-facebook {
	cursor:pointer;
	color: #5d7099;
}

 .register-facebook img {
	width:20px;
	height: 20px;
 }


#content-login{
	margin-top: 6%;
}

#content-sign-up h4 {
	color: #c4c4c3;
	text-align: center;
	margin-top: 1.0rem !important;
}

.title-register {
	color: #c4c4c3;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 2.0rem;
}


.img-rounded {
	width: 100%;
	height: 100%;
	min-width: 115px;
}

.center {
	text-align: center;
}

ion-col {
	position: initial !important;
}

.left {
	float : left !important;
}

.mleft {
	margin-left: 1% !important;
}

.right {
	float : right !important;
}

.scroll-content {
	padding-bottom: 0 !important;
}

.hide {
	display: none !important;
}

.msg-req {
	color: #ea6153;
}

.term {
	font-size: 11px;
}

.center-input input {
    text-align: center !important;
}

.center-textarea textarea {
    text-align: center !important;
}

.right-input input {
    text-align: right !important;
}

.item {
	padding-left: 0px !important;
}

.input-cover {
	min-width: 100%;
	padding: 10px 10px;
	margin: 0px ;
	//border-bottom: 1px  solid #808080;
	box-sizing: border-box;
	color: #000;
}

.invalid {
	color: #ea6153;
}
.input-invalid{
	font-size: 10px;
	color: #ea6153;
	margin: 0px;
	margin-left: 15px;
}

.datetime-text:empty:not(:focus):before{
    content: "Seleccionar"
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 0px !important;
}

.rut {
	border-bottom: 1px solid #dedede;
    margin-bottom: 0px;
}

.item.item-input {
 border: none;
 position: relative;
 width:100%;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}


.custom-file-input::before {
	content: 'Seleccione';
    display: inline-block;
    background: #26C852;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    font-size: 10pt;
    color: white;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

ion-auto-complete {
  width: 50vw;
}

ion-auto-complete {
    width: 100% !important;
}

.autocompletecountry input {
	text-align:center;
}

.autocompletecountry .searchbar-search-icon {
	display: none;
}

.title-menu {
	color: #c4c4c3;

}
.home-dashboard {
	margin: 0px 25px 20px 25px;

}
.dashboard-wh {
	width: 100px;
	height: 100px;
}


.active-menu{
	color: #000000;
	font-size: 19px;

}
.disable-menu{
	color: #828279;
	font-size: 18px;

}
.icon-menu{
	color:#828279;
	margin: 0px 20px 0px 0px;

}
.avatar-menu{
height:85px; width:85px; background-repeat: no-repeat;
background-position: 50%;
border-radius: 50%;
background-size: 100% auto;
}
.logo-menu{
	margin: 20px 0px 0px 0px;
	max-height: 115px;
	max-width: 165px;
	height: auto;
	width: auto;
	background-repeat: no-repeat;

}

.toolbar-title {
	  font-size: 1.0em !important;
}

.alert-sub-title li {
  text-align: justify;
}

#menulist .label-md {
    margin: 0px 0px 0px 0;
}

.progress-outer {
		width: 100%;
		text-align: center;
		background-color: #8bc34a;
		border: 1px solid #1A8838;
		color: #fff;
}

.progress-inner {
		min-width: 15%;
		white-space: nowrap;
		overflow: hidden;
		background-color: #8bc34a;
}
