<ion-menu id="loggedInMenu" [content]="content" side="left">

  <ion-header>
    <ion-toolbar color="secondary">
      <ion-grid>
        <ion-row>
          <ion-col col-5>
            <img class="avatar-menu" src="{{api + currentUser.profile.avatar_url}}"
                 *ngIf="(currentUser.profile && currentUser.profile.avatar_url !== undefined) && currentUser.profile.role != 'provider'">
            <img class="avatar-menu" src="assets/img/avatar.jpg"
                 *ngIf="(!currentUser.profile || currentUser.profile.avatar_url === undefined) && currentUser.profile.role != 'provider'">
            <br>
            <br>
            <br>
            <p *ngIf="currentUser.profile.role == 'provider'" style="color:white">{{currentUser.profile.name + " " +
              currentUser.profile.last_name}}</p>
          </ion-col>

          <ion-col col-7><img src="assets/img/logo_waash_01.png" class="logo-menu"></ion-col>
        </ion-row>
      </ion-grid>
      <br>
      <ion-title>{{currentUser.email}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list id="menulist" no-lines style=" margin: 15px 0px 0px 15px;">
      <button ion-item *ngFor="let p of pages" (click)="openMenuPage(p)" default>
        <p class="active-menu" id='{{p.id}}' *ngIf="p.value; else elseBlock">
          <ion-icon name='{{p.logo}}' class="icon-menu"></ion-icon>
          {{p.title}}
        </p>
        <ng-template #elseBlock>
          <p class="disable-menu" id='{{p.id}}' #elseBlock>
            <ion-icon name='{{p.logo}}' class="icon-menu"></ion-icon>
            {{p.title}}
          </p>
        </ng-template>
      </button>
      <hr/>
      <button ion-item (click)="logout()" default>
        <p class="disable-menu">
          <ion-icon name="log-out" class="icon-menu"></ion-icon>
          Salir
        </p>
      </button>


    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
