<!--
  Generated template for the DiscountsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cupones</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <form [formGroup]="model">
      <ion-item>
        <ion-input type="text" formControlName="coupon_code" placeholder="Código de cupon"
                   (input)="onEnter($event.target.value)"></ion-input>
        <button ion-button item-right type="submit" color="primary"
                [disabled]="!model.valid" (click)="reserveCoupon(model.value)">
          Aplicar
        </button>
      </ion-item>
      <ion-row class="input-invalid" *ngIf="model.get('coupon_code').errors && (model.get('coupon_code').dirty)">
        <p *ngIf="model.get('coupon_code').hasError('required')">Campo Requerido</p>
      </ion-row>
      <!--<ion-buttons class="center">-->
      <!--<button ion-button type="submit" color="primary" [disabled]="!model.valid" (click)="reserveCoupon(model.value)">-->
      <!--Aplicar-->
      <!--</button>-->
      <!--</ion-buttons>-->
    </form>
  </ion-list>
  <ion-list *ngIf="isSearch">
    <ion-list *ngFor="let i of data1">
      <ion-item style="font-size: 11.5px;margin-left:10px;">
        <!--Cupón: {{i.name_campaign}} <br>-->
        Descuento: {{i.detail.discount}}% <br>
        {{i.detail.promotion}}<br>
        Valida hasta: {{i.end_date | date:'dd-MM-yyyy'}}
      </ion-item>
    </ion-list>
  </ion-list>

  <ion-list *ngFor="let i of data">
    <ion-item style="font-size: 11.5px;margin-left:10px;">
      Cupón: {{i.coupon_code}} <br>
      Descuento: {{i.campaign_id.detail.discount}}% <br>
      {{i.campaign_id.detail.promotion}}<br>
      Valida hasta: {{i.campaign_id.end_date | date:'dd-MM-yyyy'}}
    </ion-item>
    <!--<ion-item>-->
    <!--{{i.campaign_id.detail.type_vehicle}}-->
    <!--</ion-item>-->
    <!--<ion-item>-->
    <!--{{i.campaign_id.detail.type_service}}-->
    <!--</ion-item>-->
    <!--<ion-item>-->
    <!--{{translateStatus(i.status)}}-->
    <!--</ion-item>-->
    <!--<ion-item style="font-size: 11.5px">-->
    <!--F.Vencimiento: {{i.campaign_id.end_date | date:'dd-MM-yyyy'}}-->
    <!--</ion-item>-->
  </ion-list>

</ion-content>
