<!--
  Generated template for the ClientHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

      <ion-navbar>

        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

        <ion-title></ion-title>
        <button color="primary" ion-button style="float:right;box-shadow: none; font-size: 2.5rem;" (click)="refresh()">
          <ion-icon name="refresh"></ion-icon>
        </button>

      </ion-navbar>

    </ion-header>


      <ion-content>


            <div padding>
              <ion-segment [(ngModel)]="administrar">
                <ion-segment-button value="Reciente" >
                    Reciente
                </ion-segment-button>
                <ion-segment-button value="Historico">
                    Histórico
                    </ion-segment-button>
                    <ion-segment-button value="Agendada">
                      Agendada
                      </ion-segment-button>

              </ion-segment>
            </div>

            <div [ngSwitch]="administrar">
              <ion-grid *ngSwitchCase="'Reciente'">
                  <ion-row class=""  *ngFor="let item of itemsPending ">
                     <ion-col col-2   class="col rowTab">  <ion-avatar item-start>
                        <img id="avatars" src="{{ !item.car_detail.image_url ? 'assets/img/carg.png' : api + item.car_detail.image_url }}"></ion-avatar></ion-col>
                      <ion-col col-6   class="col" ><h4  class="infotext">Cliente:{{item.customer.profile.name}} {{item.customer.profile.last_name}}  </h4><p  class="infotext">{{util.getCarClass(item.car_detail.type)}}<!-- - Megane --><p><p  class="infotext">{{item.address.name}}<p></p></ion-col>
                     <ion-col col-4  class="col" >
                      <div>
                          <p  class="infotext" style="text-align:right;">{{item.updated_show}}</p>
                          <p style="width: 100%; margin: 0px 0px 0px 0px;text-align:right;" ><ion-icon color="black" [name]="'md-pin'" style="font-size: 2.0em;" (click)="showLoc(item)"></ion-icon></p>
                          <p style="text-align:right"> <button ion-button class="button ver"  (click)="ver(event,item)" >
                            Ver
                           </button>
                           </p>
                       </div>

                    </ion-col>
                    <hr width="100%">
                   </ion-row>
                   <ion-row *ngIf="itemsPending.length == 0 "><p style="text-align: center;width: 100%;">No hay solicitudes para mostrar</p></ion-row>
              </ion-grid>

              <ion-grid *ngSwitchCase="'Historico'">
                <ion-row class=""    *ngFor="let item2 of itemsFinish">
                  <ion-col col-2   class="col rowTab">  <ion-avatar item-start>
                     <img id="avatars" src="{{ !item2.car_detail.image_url ? 'assets/img/carg.png' : api + item2.car_detail.image_url }}"></ion-avatar></ion-col>
                     <ion-col col-6   class="col" >
                       <h4  class="infotext">Cliente:{{item2.customer.profile.name}} {{item2.customer.profile.last_name}}  </h4>
                       <p  class="infotext">{{ util.getCarClass(item2.car_detail.type) }} <!-- - Megane --></p>
                       <p  class="infotext">{{item2.address.name}}</p>
                     </ion-col>
                     <ion-col col-4  class="col" >

                    <div>

                        <p  class="infotext">{{item2.date}}</p>

                        <p  *ngIf="item2.discount!==0" class="infotext">
                          {{item2.discount}} %
                        </p>

                        <h4  class="infotext" *ngIf="item2.service">Total Ganado: {{util.formatearNumero(roundAmount(item2.service))}} </h4>

                       </div>

                 </ion-col>
                 <hr width="100%">
                </ion-row>
                <ion-row *ngIf="itemsFinish.length == 0 "><p style="text-align: center;width: 100%;">No hay solicitudes para mostrar</p></ion-row>
              </ion-grid>


              <ion-grid *ngSwitchCase="'Agendada'">
                <ion-row class=""   *ngFor="let item3 of itemsScheduled">
                  <ion-col col-2   class="col rowTab">  <ion-avatar item-start>
                    <img id="avatars" src="{{ !item3.car_detail.image_url ? 'assets/img/carg.png' : api + item3.car_detail.image_url }}"></ion-avatar></ion-col>
                    <ion-col col-6   class="col" ><h4  class="infotext">Cliente:{{item3.customer.profile.name}} {{item3.customer.profile.last_name}}  </h4><p  class="infotext">{{util.getCarClass(item3.car_detail.type) }}<!-- - Megane --><p><p  class="infotext">{{item3.address.name}}<p></p></ion-col>

                  <ion-col col-4  class="col" >
                    <div>
                        <p  class="infotext">{{item3.date}}</p>
                        <p  class="infotext">{{util.formatHour(item3.date_at.getHours(), item3.date_at.getMinutes())}}</p>
                      <!--  <button ion-button class="button ver"  (click)="ver($event,item3)" >
                          Ver
                        </button> -->
                       </div>

                 </ion-col>
                 <hr width="100%">
                </ion-row>
                <ion-row *ngIf="itemsScheduled.length == 0 "><p style="text-align: center;width: 100%;">No hay solicitudes para mostrar</p></ion-row>
              </ion-grid>


                <!-- <ion-fab right bottom>
                  <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>

                </ion-fab> -->
            </div>
            <br>
            <br>
            <br>
            <!--<button ion-button (click)="logout()">Logout</button>
             <button ion-button (click)="clientSin()">Agregar auto</button> -->
            </ion-content>
