page-provider-home {
    .pending{    background: rgb(255, 253, 113);height: auto;width: 100%;padding: 7%;text-align: center;}
    .finish{ background: #4caf50; height: auto;width: 100%;padding: 7%;text-align: center;}
    .in_progress{background:#03a9f4;height: auto;width: 100%;padding: 7%;text-align: center;}
    .canceled{ background: #f33336;height: auto;width: 100%;padding: 7%;text-align: center;}


    #avatars{
       margin: 0px 0px 0px 0px;
        max-height: 55.5px;
        overflow: hidden;
       }
       .rowTab {
        height: 85px;
        padding-top: 5px;
    }
        .newAuto{
        font-size: 15px;
        font-weight: bold;
        margin: 5px 0px 1px 15px;  color: #FFFFFF;
     }
        .homewAuto{
        font-size: 20px;
        margin: 7px 0px 0px 0px;  color: #FFFFFF;
        }
        .starIcon{
            font-size: 15px;
            margin: 5px 0px 1px 15px;
        }
    .ver{
        height: 3.0rem;
        width: 10.0rem;
    }
}
