
<ion-header>

  <ion-navbar>
    <ion-title>debe quitarse</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <p style="    margin-top: 50%;" >
        Para continuar debes agregar al menos un auto
      </p>
  <ion-img width="150" height="150" src="assets/img/carroadd.png" style="display:block;
  margin:auto;     margin-top: 10%;     background: #fff;" (click)="itemSelected($event, item2)"> </ion-img>
</ion-content>
