<ion-content>

  <br>

  <h4 class="title-register" *ngIf="option==1">Agrega tu dirección</h4>
  <h4 class="title-register" *ngIf="option==2">Agrega las comunas donde puedes trabajar</h4>

  <p class="msg-req" *ngIf="submitAttempt">Por favor, complete todos los campos.</p>

  <form [formGroup]="addressForm" (ngSubmit)="registerAddress()"  *ngIf="option==1">
    <ion-list>
      <br>
      <ion-item>
        <ion-label class="mleft">Selcciona tu región</ion-label>
        <ion-select formControlName="region" [ngModel]="selectedRegionItem" (ngModelChange)="onChange($event)" name="region" placeholder="Seleccione">
          <ion-option *ngFor="let region of regions; let i = index" value={{i}}>{{region.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="provinces.length>0">
        <ion-label class="mleft">Selcciona tu Provincia</ion-label>
        <ion-select formControlName="province" [ngModel]="selectedProvinceItem" (ngModelChange)="onChangeProvince($event)" name="province" placeholder="Seleccione">
          <ion-option *ngFor="let province of provinces;let i = index" value={{i}}>{{province.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="communes.length>0">
        <ion-label class="mleft">Selcciona tu comuna</ion-label>
        <ion-select formControlName="commune" name="commune" placeholder="Seleccione">
          <ion-option *ngFor="let commune of communes" value={{commune.name}}>{{commune.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input formControlName="street" class="center-input" placeholder="Calle, número" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="department" class="center-input" placeholder="Departamento, número" type="text"></ion-input>
      </ion-item>

    </ion-list>
    <br>

    <ion-buttons class="center">
      <button ion-button type="submit" [disabled]="!addressForm.valid">
        Aceptar
      </button>
      <button ion-button color="danger" outline (click)="dismiss()">
        Cancelar
      </button>
    </ion-buttons>
  </form>

  <form [formGroup]="communesForm" (ngSubmit)="registerCommunes()" *ngIf="option==2">
    <ion-list>
      <br>
      <ion-item>
        <ion-label class="mleft">Selcciona tu región</ion-label>
        <ion-select formControlName="region" [ngModel]="selectedRegionItem" (ngModelChange)="onChange($event)" name="region" placeholder="Seleccione">
          <ion-option *ngFor="let region of regions; let i = index" value={{i}}>{{region.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="provinces.length>0">
        <ion-label class="mleft">Selcciona tu Provincia</ion-label>
        <ion-select formControlName="province" [ngModel]="selectedProvinceItem" (ngModelChange)="onChangeProvince($event)" name="province" placeholder="Seleccione">
          <ion-option *ngFor="let province of provinces;let i = index" value={{i}}>{{province.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="communes.length>0">
        <ion-label class="mleft">Selcciona tu Comuna</ion-label>
      </ion-item>
      <ion-item class="mleft" *ngFor="let commune of communes; let i = index">
        <ion-label>{{commune.name}}</ion-label>
        <ion-checkbox (ionChange)="updateCommunne(i)" [disabled]="!!commune.selected"></ion-checkbox>
      </ion-item>

      <ion-item *ngIf="communes.length>0">
        <ion-buttons class="center">
          <button ion-button type="button" color="secondary" (click)="addCommune()">
            Agregar
          </button>
        </ion-buttons>
      </ion-item>

    </ion-list>
    <br>
    <ion-list>
      <ion-list-header class="mleft">
        Comunas Agregadas:<button *ngIf="result.length>0" ion-button color="danger" outline (click)="clear()" style="float:right;">
                <ion-icon name="trash" style="font-size: 1.8rem;"></ion-icon>
              </button>
      </ion-list-header>
      <ion-item class="mleft" *ngFor="let commune of result">
       {{commune.name}}
      </ion-item>
    </ion-list>

    <ion-buttons class="center">
      <button ion-button type="submit" [disabled]="!communesForm.valid && result.length==0">
        Listo
      </button>
      <button ion-button color="danger" outline (click)="dismiss()">
        Cancelar
      </button>
    </ion-buttons>
  </form>


</ion-content>
