<ion-header id="header">
  <ion-navbar color="primary">
    <ion-title>
      Registro Rider
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="content-sign-up">


    <ion-slides #signupSlider>
      <ion-slide>
        <form [formGroup]="slideOneForm">
          <h4 class="title">Solicitud de Registro (1/3)</h4>
          <p class="msg-req" *ngIf="submitAttempt">Por favor, complete la Información requerida.</p>
          <ion-list>

            <ion-item>
              <ion-input class="center-input" placeholder="Nombre" formControlName="name" type="text" required="required" [class.invalid]="!slideOneForm.controls.name.valid && (slideOneForm.controls.name.dirty || submitAttempt)"></ion-input>
            </ion-item>
            <ion-row class="input-invalid" *ngIf="slideOneForm.get('name').errors && (slideOneForm.get('name').dirty || submitAttempt)">
              <p *ngIf="slideOneForm.get('name').hasError('required')">Campo Requerido</p>
              <p *ngIf="slideOneForm.get('name').hasError('maxlength')">Máximo 30 caracteres</p>
              <p *ngIf="slideOneForm.get('name').hasError('pattern')">Solo se aceptan letras</p>
            </ion-row>

            <ion-item>
              <ion-input class="center-input" placeholder="Apellido" formControlName="last_name" type="text" required="required" [class.invalid]="!slideOneForm.controls.last_name.valid && (slideOneForm.controls.last_name.dirty || submitAttempt)"></ion-input>
            </ion-item>
            <ion-row class="input-invalid" *ngIf="slideOneForm.get('last_name').errors && (slideOneForm.get('last_name').dirty || submitAttempt)">
              <p *ngIf="slideOneForm.get('last_name').hasError('required')">Campo Requerido</p>
              <p *ngIf="slideOneForm.get('last_name').hasError('maxlength')">Máximo 30 caracteres</p>
              <p *ngIf="slideOneForm.get('last_name').hasError('pattern')">Solo se aceptan letras</p>
            </ion-row>

            <ion-item>
              <ion-input class="center-input" placeholder="Teléfono 0912345678" formControlName="phone" type="tel" required="required" [class.invalid]="!slideOneForm.controls.phone.valid && (slideOneForm.controls.phone.dirty || submitAttempt)"></ion-input>
            </ion-item>
            <ion-row class="input-invalid" *ngIf="slideOneForm.get('phone').errors && (slideOneForm.get('phone').dirty || submitAttempt)">
              <p *ngIf="slideOneForm.get('phone').hasError('required')">Campo Requerido</p>
              <p *ngIf="slideOneForm.get('phone').hasError('maxlength')">Máximo 30 caracteres</p>
              <p *ngIf="slideOneForm.get('phone').hasError('pattern')">Solo se aceptan números</p>
            </ion-row>

            <ion-item>
              <ion-input class="center-input" placeholder="Correo" type="email" name="email" formControlName="email" required="required"></ion-input>
            </ion-item>
            <ion-row class="input-invalid" *ngIf="slideOneForm.get('email').errors && (slideOneForm.get('email').dirty || submitAttempt)">
                <p *ngIf="slideOneForm.get('email').hasError('required')">Campo Requerido</p>
                <p *ngIf="slideOneForm.get('email').hasError('maxlength')">Máximo 30 caracteres</p>
                <p *ngIf="slideOneForm.get('email').hasError('pattern')">Ingrese un correo electrónico válido</p>
            </ion-row>

            <ion-auto-complete (change)="changeCountry()" class="autocompletecountry" [dataProvider]="completeService" [options]="{ placeholder : 'País de nacionalidad', type:'text', id:'nac' }" #searchbar></ion-auto-complete >
            <ion-row class="input-invalid" *ngIf="!selectCountry">
                <p>Por favor seleccione un país de la lista</p>
            </ion-row>

            <ion-item>
              <ion-label class="mleft">Fecha de nacimiento</ion-label>
              <ion-datetime name="birth" formControlName="birth" displayFormat="DD MM YYYY"></ion-datetime>
            </ion-item>
            <ion-row class="input-invalid" *ngIf="slideOneForm.get('birth').errors && (slideOneForm.get('birth').dirty || submitAttempt)">
              <p *ngIf="slideOneForm.get('birth').hasError('required')">Campo Requerido</p>
            </ion-row>

            <!--<ion-item>
              <ion-label class="mleft">Seleciona tu nacionalidad</ion-label>
              <ion-select name="country" formControlName="country" placeholder="Seleccione">
                <ion-option *ngFor="let country of countries" value={{country._id}}>{{country.name}}</ion-option>
              </ion-select>
            </ion-item>-->

            <!--<ion-row class="input-invalid" *ngIf="slideOneForm.get('country').errors && (slideOneForm.get('country').dirty || submitAttempt)">
              <p *ngIf="slideOneForm.get('country').hasError('required')">Campo Requerido</p>
            </ion-row> -->

            <ion-item (click)="openModal({option:1})">
              <ion-label class="mleft">Dirección</ion-label>
              <ion-input [ngModel]="address" disabled="true" class="right-input right" placeholder="Seleccionar dirección" formControlName="address" type="text"></ion-input>
            </ion-item>


          </ion-list>
        </form>
      </ion-slide>

      <ion-slide>
        <form [formGroup]="slideOneForm">
          <h4 class="title">Solicitud de Registro (2/3)</h4>
          <p class="msg-req" *ngIf="submitAttempt2">Por favor, complete la Información requerida.</p>




          <ion-list>


            <ion-grid>

              <ion-row class="client-id">
                 <ion-col col-3>
                   <ion-item>
                      <ion-label class="mleft">RUT:</ion-label>
                   </ion-item>
                </ion-col>
                <ion-col col-6>
                   <ion-item>
                     <ion-input  class="center-input" placeholder="12345678" type="text" name="rut" formControlName="rut" required="required" style="width: 45%;" maxlength="8"></ion-input>
                   </ion-item>
               </ion-col>
               <ion-col col-1>
                  <ion-label>-</ion-label>
              </ion-col>
               <ion-col col-2>
                 <ion-item>
                   <ion-input class="center-input" placeholder="1" type="text" name="rut2" formControlName="rut2" style="width: 10%;"  maxlength="1"></ion-input>
                </ion-item>
                </ion-col>
              </ion-row>

            </ion-grid>

            <ion-row class="input-invalid" *ngIf="slideOneForm.get('rut').errors && (slideOneForm.get('rut').dirty || submitAttempt)">
              <p *ngIf="slideOneForm.get('rut').hasError('required')">Campo Requerido</p>
              <p *ngIf="slideOneForm.get('rut').hasError('maxlength')">Máximo 10 caracteres</p>
              <p *ngIf="slideOneForm.get('rut').hasError('pattern')">Solo se aceptan números</p>
            </ion-row>

            <ion-item>

              <ion-input class="center-input" placeholder="Contraseña" type="password" name="password" formControlName="password" required="required"></ion-input>

            </ion-item>
            <ion-row class="input-invalid" *ngIf="slideOneForm.get('password').errors && (slideOneForm.get('password').dirty || submitAttempt|| submitAttempt2)">
              <p *ngIf="slideOneForm.get('password').hasError('required')">Campo Requerido</p>
              <p *ngIf="slideOneForm.get('password').hasError('minlength')">Mínimo 6 caracteres</p>
            </ion-row>

            <ion-item>
              <ion-input class="center-input" placeholder="Confirmar Contraseña" type="password" name="confirm_password" formControlName="confirm_password" required="required"></ion-input>
            </ion-item>

            <ion-row class="input-invalid" *ngIf="slideOneForm.get('confirm_password').errors && (slideOneForm.get('confirm_password').dirty || submitAttempt|| submitAttempt2); else equalsPass">
              <p *ngIf="slideOneForm.get('confirm_password').hasError('required')">Campo Requerido</p>
              <p *ngIf="slideOneForm.get('confirm_password').hasError('minlength')">Mínimo 6 caracteres</p>
            </ion-row>

            <ng-template #equalsPass>
              <ion-row class="input-invalid" *ngIf="slideOneForm.controls.confirm_password.touched && slideOneForm.hasError('mismatchedPasswords') && slideOneForm.controls.password.valid">
                <p>Contraseña no coincide</p>
              </ion-row>
            </ng-template>

            <ion-item>
              <ion-label class="mleft">Comunas a trabajar</ion-label>
              <ion-input [ngModel]="communes.names" disabled="true" class="right-input right" placeholder="Seleccionar comunas" formControlName="communes" required="required" type="text" (click)="openModal({option:2})"></ion-input>
            </ion-item>
            <ion-row class="input-invalid" *ngIf=" slideOneForm.get('communes').errors  && (slideOneForm.get('communes').dirty || submitAttempt|| submitAttempt2)">
              <p *ngIf="slideOneForm.get('communes').hasError('required')">Campo Requerido</p>
            </ion-row>

           <!-- <ion-label>Horario disponible:</ion-label> -->
            <ion-item>
              <ion-label class="mleft">Desde</ion-label>
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="start"></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-label class="mleft">Hasta</ion-label>
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="end"></ion-datetime>
            </ion-item>
            <ion-row class="input-invalid" *ngIf=" (slideOneForm.get('end').errors || slideOneForm.get('start').errors) && (slideOneForm.get('end').dirty || submitAttempt|| submitAttempt2)">
              <p *ngIf="slideOneForm.get('end').hasError('required')">Campo Requerido,debe indicar Horadio disponible</p>
            </ion-row>
            <ion-item>
              <ion-textarea class="center-textarea" placeholder="Escribe una motivación" name="motivation" formControlName="motivation"></ion-textarea>
            </ion-item>

          </ion-list>
        </form>
      </ion-slide>

      <ion-slide>
        <form [formGroup]="slideOneForm" (ngSubmit)="register()">
          <h4 class="title">Solicitud de Registro (3/3)</h4>
          <p class="msg-req" *ngIf="submitAttempt3">Por favor, complete la Información requerida.</p>
          <ion-list>

          <table  class="table">
            <tr>
              <td (click)="accessGallery(1)"><p class="sub">Sube tu foto</p><img class="imgurl" style="height:60px; width:85px;"  [src]="_DomSanitizationService.bypassSecurityTrustUrl(Image_avatar)" *ngIf="Image_avatar"   alt="">
              </td>
              <!--<td (click)="accessGallery(2)" class="imgtd"><p  class="sub">Cv</p><img   class="imgurl" style="height:60px; width:100px;;" [src]="Image_cv" *ngIf="Image_cv"  alt="">
              </td> -->
              <td (click)="accessGallery(3)"><p  class="sub">Anverso de tu CI</p><img  class="imgurl" style="height:60px; width:85px;" [src]="_DomSanitizationService.bypassSecurityTrustUrl(Image_ci_anv)" *ngIf="Image_ci_anv"  alt="">
              </td>
              <td  (click)="accessGallery(4)"  class="imgtd"><p  class="sub">Reverso de tu CI</p><img  class="imgurl" style="height:60px; width:85px;" [src]="_DomSanitizationService.bypassSecurityTrustUrl(Image_ci_rev)" *ngIf="Image_ci_rev"  alt="">
              </td>
            </tr>

             <tr>
              <!--<td (click)="accessGallery(5)"><p  class="sub">Antecedentes</p><img  class="imgurl" style="height:60px; width:100px;" [src]="Image_ci_ant" *ngIf="Image_ci_ant"   alt="">
              </td> -->
             </tr>
          </table>

          <ion-item class="mleft" style="text-align: center">

            <p class="sub">Sube tu CV</p>
            <div ion-button class="fileUpload">
              <span><ion-icon name="cloud-upload"></ion-icon>&nbsp;Seleccione</span>
              <input name="file" class="upload" type="file" (change)="filesAdded($event,2)" #input3 title=" " />
            </div><span class="file-span">{{fileTitle1}}</span>

          </ion-item>

          <ion-item class="mleft" style="text-align: center">
            <p class="sub">Sube tu certificado <br>de antecedentes actualizado</p>
            <div ion-button class="fileUpload">
              <span><ion-icon name="cloud-upload"></ion-icon>&nbsp;Seleccione</span>
              <input name="file2" class="upload" type="file" (change)="filesAdded($event,5)" #input4 />
            </div><span class="file-span">{{fileTitle2}}</span>

          </ion-item>



            <ion-item>
              <ion-label class="term">Acepto los <span style="color:#26C852">términos y condiciones</span></ion-label>
              <ion-checkbox name="agree" formControlName="agree" (click)="openUrl('https://waash.green/terminosycondiciones-riders/')"></ion-checkbox>
            </ion-item>
          </ion-list>

          <button type="submit" ion-button color="primary">Enviar</button>
          <br>
          <br>
        </form>
      </ion-slide>

    </ion-slides>
</ion-content>

<ion-content id="content-check" style="display:none">
  <div style="display:block;text-align:center; padding: 50px 0px 0px 0px;" ><img src="assets/img/check.png" alt="check" /></div>
<h1><p class="title-register"> Te has registrado exitosamente </p>
</h1>
  <div style="display:block;text-align:center; " ><button (click)='check()' ion-button color="primary" > Aceptar </button>
  </div>
</ion-content>

<ion-footer id="footer">
  <div>
    <button *ngIf="signupSlider.getActiveIndex()!==0" ion-button icon-left (click)="prev()"><ion-icon name="arrow-back"></ion-icon>Anterior</button>
    <button *ngIf="signupSlider.getActiveIndex()!==2" class="right" ion-button icon-right (click)="next()">Siguiente<ion-icon name="arrow-forward"></ion-icon></button>
  </div>
</ion-footer>
