.sub {
    font-size: 11px;
      margin: 0px;
}
.table{
   width:100%;
}

.text-input[disabled] {
    opacity: 1 !important;
}

.imgurl{

padding: 0px 0px 0px 5px;
}
.imgtd{
padding: 0px 0px 0px 5px;

}

page-registerWasher {
  .item.item-md .checkbox-md {
      margin: 9px 9px 9px 7.5% !important;
  }
  .item.item-ios .checkbox-ios {
    margin: 9px 9px 9px 7.5% !important;
  }
}

ion-slides {
    display: block;
    height: auto;
}

.custom-file-input {

margin-left: 6% !important;

}

.button-upload{
  float: left;
  margin-left: 6.3%;
}

.file-span {
  float: left;
  margin-top: 2.5%;
  margin-left: 2.5%;
  max-width: 50%;
}

.fileUpload {
  float: left;
  margin-left: 6.3%;
  position: relative;
  overflow: hidden;

  input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
