<ion-header id="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Registro</ion-title>
  </ion-navbar>
</ion-header>

 <ion-content id="content-sign-up">

    <ion-slides #signupSlider>
      <ion-slide>

        <form [formGroup]="slideOneForm">

           <h4 class="title">Regístrate ahora y disfruta del mejor servicio  de lavados de autos ecológico.</h4>
           <p class="msg-req" *ngIf="submitAttempt">Por favor, complete la Información requerida.</p>
          <ion-list>
            <!--<ion-row class="logo-row">-->
            <!--<ion-col width-100 class="center" style="border-bottom: solid 1px #5b6f98;">-->
                <!--<label class="register-facebook" (click)="facebookRegister()"> <img src="assets/img/facebook-login-2.png">-->
                  <!--Regístrate con Facebook</label>-->
            <!--</ion-col>-->
            <!--</ion-row>-->
            <br>
            <ion-item>
              <ion-input class="center-input" placeholder="Nombre" formControlName="name" type="text" required="required" [class.invalid]="!slideOneForm.controls.name.valid && (slideOneForm.controls.name.dirty || submitAttempt)"></ion-input>
            </ion-item>
              <ion-row class="input-invalid" *ngIf="slideOneForm.get('name').errors && (slideOneForm.get('name').dirty || submitAttempt)">
                  <p *ngIf="slideOneForm.get('name').hasError('required')">Campo Requerido</p>
                  <p *ngIf="slideOneForm.get('name').hasError('maxlength')">Máximo 30 caracteres</p>
                  <p *ngIf="slideOneForm.get('name').hasError('pattern')">Solo se aceptan letras</p>
              </ion-row>

            <ion-item>
               <ion-input class="center-input" placeholder="Apellido" formControlName="last_name" type="text" required="required" [class.invalid]="!slideOneForm.controls.last_name.valid && (slideOneForm.controls.last_name.dirty || submitAttempt)"></ion-input>
            </ion-item>
              <ion-row class="input-invalid" *ngIf="slideOneForm.get('last_name').errors && (slideOneForm.get('last_name').dirty || submitAttempt)">
                <p *ngIf="slideOneForm.get('last_name').hasError('required')">Campo Requerido</p>
                <p *ngIf="slideOneForm.get('last_name').hasError('maxlength')">Máximo 30 caracteres</p>
                <p *ngIf="slideOneForm.get('last_name').hasError('pattern')">Solo se aceptan letras</p>
              </ion-row>

            <ion-item>
             <ion-input class="center-input" placeholder="Teléfono 0912345678" formControlName="phone" type="tel" required="required" [class.invalid]="!slideOneForm.controls.phone.valid && (slideOneForm.controls.phone.dirty || submitAttempt)"></ion-input>
            </ion-item>
              <ion-row class="input-invalid" *ngIf="slideOneForm.get('phone').errors && (slideOneForm.get('phone').dirty || submitAttempt)">
               <p *ngIf="slideOneForm.get('phone').hasError('required')">Campo Requerido</p>
               <p *ngIf="slideOneForm.get('phone').hasError('maxlength')">Máximo 30 caracteres</p>
               <p *ngIf="slideOneForm.get('phone').hasError('pattern')">Solo se aceptan números</p>
               </ion-row>
          </ion-list>
          <br>
          <br>
          <br>
        </form>

      </ion-slide>
      <ion-slide>
        <form [formGroup]="slideOneForm" (ngSubmit)="register()">
            <h4 class="title">Crea una Contraseña para tu cuenta</h4>
          <p class="msg-req" *ngIf="submitAttempt2">Por favor, complete la Información requerida.</p>

          <ion-list>

            <br>
          <ion-item>
              <ion-input class="center-input" placeholder="Correo" type="email" name="email" required="required"  formControlName="email" ></ion-input>
              </ion-item>
               <ion-row class="input-invalid" *ngIf="slideOneForm.get('email').errors && (slideOneForm.get('email').dirty || submitAttempt)">
                 <p *ngIf="slideOneForm.get('email').hasError('required')">Campo Requerido</p>
                 <p *ngIf="slideOneForm.get('email').hasError('maxlength')">Máximo 30 caracteres</p>
                 <p *ngIf="slideOneForm.get('email').hasError('pattern')">Ingrese un correo electrónico válido</p>
               </ion-row>
               <ion-item>
                <ion-input class="center-input" placeholder="Contraseña" type="password" name="password" required="required" formControlName="password"></ion-input>
                </ion-item>
              <ion-row class="input-invalid" *ngIf="slideOneForm.get('password').errors && (slideOneForm.get('password').dirty || submitAttempt || submitAttempt2)">
                  <p *ngIf="slideOneForm.get('password').hasError('required')">Campo Requerido</p>
                  <p *ngIf="slideOneForm.get('password').hasError('maxlength')">Máximo 30 caracteres</p>
                  <p *ngIf="slideOneForm.get('password').hasError('minlength')">Mínimo 6 caracteres</p>
                  <p *ngIf="slideOneForm.get('password').hasError('pattern')">Solo se aceptan letras</p>
              </ion-row>
              <ion-item>
                <ion-input class="center-input" placeholder="Confirmar Contraseña" type="password" name="confirm_password" required="required"  formControlName="confirm_password"></ion-input>
              </ion-item>
                <ion-row class='input-invalid' *ngIf="slideOneForm.controls.confirm_password.touched && slideOneForm.hasError('mismatchedPasswords') && slideOneForm.controls.password.valid">
                    <p>Contraseña no coincide</p>
                </ion-row>

              <ion-item>
                <ion-label class="term">Recibir notificaciones <br>y registro de ubicaciones</ion-label>
                <ion-checkbox name="agree" formControlName="agree"></ion-checkbox>
              </ion-item>
          </ion-list>
          <button type="submit" ion-button color="primary">Enviar</button>
        </form>
      </ion-slide>
    </ion-slides>
</ion-content>

<ion-content id="content-check" style="display:none">
  <div class="center" style="padding: 50px 0px 0px 0px;" ><img src="assets/img/check.png" alt="check" /></div>
<h1><p class="title-register"> Te has registrado exitosamente </p>
</h1>
  <div class="center" ><button (click)='check()' ion-button color="primary" > Ingresar </button>
  </div>
</ion-content>
<ion-footer id="footer">
  <div>
    <button *ngIf="signupSlider.getActiveIndex()!==0" ion-button icon-left (click)="prev()"><ion-icon name="arrow-back"></ion-icon>Anterior</button>
    <button *ngIf="signupSlider.getActiveIndex()!==1" class="right" ion-button icon-right (click)="next()">Siguiente<ion-icon name="arrow-forward"></ion-icon></button>
  </div>
</ion-footer>
