
  .input-cover {
    min-width: 100%;
    padding: 10px 10px;
    margin: 0px ;
    //border-bottom: 1px  solid #808080;
    box-sizing: border-box;
    color: #000;
  }

  .invalid {
    color: #ea6153;
  }
  .input-invalid{
    font-size: 10px;
    color: #ea6153;
    margin: 0px;
    margin-left: 15px;
  }

  .text-input[disabled] {
    opacity: 1 !important;
}

.footer-md::before,
.tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  top: 0px;
  height: 0px;
}

page-register {
  .item.item-md .checkbox-md {
      margin: 9px 9px 9px 29% !important;
  }
  .item.item-ios .checkbox-ios {
    margin: 9px 9px 9px 24% !important;
  }
}

ion-slides {
    display: block;
    height: auto;
}
