page-service-detail{
#avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
    }
    #avatarcard {
        width: 50px;
        height: 50px;
        overflow: hidden;
    }

.infotext{
    margin-top: 5px;
    font-size: 14px;
    color: #000000;
}
.box{

}

.titleleft{
    font-weight: bold;
    text-align: -internal-center;

}
.star{
  font-size: 1.7em;
  margin-left: 4px;
  margin-top: 5px;
  padding-right: 1%;
  padding-left: 1%;
}

.boxright{
  border: solid;
  border-width: 1px;
  border-color: #CCCCCC;

}

#map {
  width: 100%;
  height: 40%;
  position:fixed;
}

  .zoom-map {
    width: 94%;
    text-align: right;
    position: relative;
    top: 36%;
  }

  .zoom-map > img {

    width: 24px;
    height: 24px;
    z-index: 50;
  }

  .des-buttons {
    width: 100%;
    text-align: center;
  }

}
