<ion-header>

  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
    <button color="secondary" ion-button style="float:right;box-shadow: none; font-size: 2.5rem;" (click)="refresh()">
      <ion-icon name="refresh"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content>

  <h4 style="margin-left: 20px;">Home</h4>

  <ion-grid>
    <ion-row class="home-dashboard" (click)="openPage('requests')">
      <ion-col col-4 style="background: #cd1a57;" class="dashboard-wh dashboard-icon">
        <ion-icon name="clipboard" class="icon-dashboard2"></ion-icon>
      </ion-col>
      <ion-col col-8 style="background: #e91e63;" class="dashboard-wh"><h4>Nuevas solicitudes</h4>
        <p class="infodash">{{currentDashboard.latest_provider_requests}}
        <p></ion-col>
    </ion-row>


    <ion-row class="home-dashboard" (click)="openPage('customers')">
      <ion-col col-4 style="background: #00a5ba;" class="dashboard-wh dashboard-icon">
        <ion-icon name="person-add" class="icon-dashboard2"></ion-icon>
      </ion-col>
      <ion-col col-8 style="background: #00bcd4;" class="dashboard-wh"><h4>Nuevos clientes</h4>
        <p class="infodash">{{currentDashboard.recent_customers}}
        <p></ion-col>
    </ion-row>


    <ion-row class="home-dashboard" (click)="openPage('cars-by-provider')">
      <ion-col col-4 style=" background:#7aab41;" class="dashboard-wh dashboard-icon"><img src="assets/img/car.png"
                                                                                           class="icon-dashboard">
      </ion-col>
      <ion-col col-8 style="background: #8bc34a;" class="dashboard-wh"><h4>Autos atendidos</h4>
        <p class="infodash">{{currentDashboard.cars_attended}}
        <p></ion-col>
    </ion-row>

    <ion-row class="home-dashboard" (click)="openPage('money-by-provider')">
      <ion-col col-4 style="background:#e08600;" class="dashboard-wh dashboard-icon">
        <ion-icon name="logo-usd" class="icon-dashboard2"></ion-icon>
      </ion-col>
      <ion-col col-8 style="background: #ff9800;" class="dashboard-wh"><h4>Total generado</h4>
        <p *ngIf="currentDashboard.money_generated!=undefined" class="infodash">
          {{formatearNumero(currentDashboard.money_generated)}} $
        <p></ion-col>
    </ion-row>
  </ion-grid>
  <!--<ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon name="{{item.icon}}" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list> -->
  <br/><br/><br/>
  <p *ngIf="items.length==0" style="text-align: center;">No hay solicitudes de Servicios.</p>
  <ion-row class="home-dashboard">
    <ion-col col-12 class="borde-tab ">

      <table>
        <caption><h4 class="title">SOLICITUDES DE SERVICIO RECIENTES</h4></caption>
        <tr>
          <th>Dirección</th>
          <th> Estado</th>
          <th>Rider</th>
        </tr>
        <tr *ngFor="let item of items">
          <td>{{item.address ? item.address.name : ''}}</td>
          <td><p class="{{item.status}}">{{showStatus(item.status)}}</p></td>
          <td *ngIf="item.provider">{{item.provider.profile.name}}</td>
        </tr>
      </table>

    </ion-col>
  </ion-row>

</ion-content>
