<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
    <ion-title>Completar Solicitud</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="FormComplete" (ngSubmit)="complete()">

    <p class="msg-req" *ngIf="isImage">Por favor, sube una imagen.</p>

    <p class="">Ahora toma una fotografía del vehículo para dejar constancia de que el trabajo ha sido terminado.</p>
    <div style="text-align:center">
      <img class="imgurl" height="124" [src]="_DomSanitizationService.bypassSecurityTrustUrl(Image_Finish)"/>
    </div>
    <div class="des-buttons">
      <button type="button" ion-button full outline icon-left (click)="presentActionSheet()" style="border-radius: 4px;border-right-width: 1px;border-left-width: 1px;">
        <ion-icon name="camera"></ion-icon>Seleccionar Imagen
      </button>
    </div>

    <br>

    <span class="">Aquí puedes dejar cualquier observación que consideres pertinente.</span>

    <ion-item>
      <ion-label floating>Observaciones</ion-label>
      <ion-input type="text" formControlName="observations" required></ion-input>
    </ion-item>
    <ion-row class="input-invalid" *ngIf="FormComplete.get('observations').errors && (FormComplete.get('observations').dirty || submitAttempt)">
      <p *ngIf="FormComplete.get('observations').hasError('required')">Campo Requerido</p>

    </ion-row>
    <br>
      <div class="des-buttons">
        <button ion-button type="submit" color="primary" full style="border-radius: 4px;">Enviar</button>
      </div>
  </form>
</ion-content>
