
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
    <ion-title>Precios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="text-align:center">
  <img src="assets/img/price.jpg"/>
</ion-content>
