<ion-header>
  <ion-navbar>
    <ion-title>Detalle de Servicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <table class="tg">
    <tr>
      <td class="tg-9hbo box titleleft" style="width:30%;padding-left: 0px;"><br><br><br><br>Rider:<br><br><br><br><br></td>
      <th class="tg-yw4l box boxright" style="width: 100%">
        <br>
        <div>
        <div style="text-align: center;">  <img id="avatar" src="assets/img/avatar.jpg"></div>
        <p  class="infotext">{{selectedItem.provedorname}}</p>
        <ion-row>
          <span style="width: 100%;text-align: center;">

            <ion-icon color="yellow" [name]="'star'" class="star" *ngIf="star1" (click)="rate(1)"></ion-icon>
            <ion-icon [name]="'star-outline'" class="star" style="color: #bdbdbd;"  *ngIf="!(star1)"  (click)="rate(1)"></ion-icon>

            <ion-icon color="yellow" [name]="'star'" class="star" *ngIf="star2" (click)="rate(2)"></ion-icon>
            <ion-icon [name]="'star-outline'" class="star" style="color: #bdbdbd;"  *ngIf="!(star2)"  (click)="rate(2)"></ion-icon>

            <ion-icon color="yellow" [name]="'star'" class="star" *ngIf="star3" (click)="rate(3)"></ion-icon>
            <ion-icon [name]="'star-outline'" class="star" style="color: #bdbdbd;"  *ngIf="!(star3)"  (click)="rate(3)"></ion-icon>

            <ion-icon color="yellow" [name]="'star'" class="star" *ngIf="star4" (click)="rate(4)"></ion-icon>
            <ion-icon [name]="'star-outline'" class="star" style="color: #bdbdbd;"  *ngIf="!(star4)"  (click)="rate(4)"></ion-icon>

            <ion-icon color="yellow" [name]="'star'" class="star" *ngIf="star5" (click)="rate(5)"></ion-icon>
            <ion-icon [name]="'star-outline'" class="star" style="color: #bdbdbd;"  *ngIf="!(star5)"  (click)="rate(5)"></ion-icon>

          </span>
        </ion-row>
        <button ion-button class="button" *ngIf="selectedItem.rate === 0" (click)="requestRate($event)" >
         Calificar
        </button>
        <br>
      </div>
        </th>
    </tr>
    <tr>
      <td class="tg-9hbo box titleleft" style="padding-left: 0px;"><br><br><br><br>Vehículo:<br><br><br><br></td>
      <td class="tg-yw4l  box boxright"  >
      <div style="text-align: center;">  <img id="avatarcard" src="{{selectedItem.car_detail.image_url}}"></div>
        <p  class="infotext" style="text-align: center"><strong>{{selectedItem.car_detail.alias}}</strong></p>
        <p  class="infotext" style="text-align: center">{{ util.getCarClass(selectedItem.car_detail.type)}}</p>
        <p  *ngIf="selectedItem.car_detail.model.car_brand!=undefined" class="infotext" style="text-align: center">{{selectedItem.car_detail.model.car_brand.name}}</p>
        <p  class="infotext" style="text-align: center">{{selectedItem.car_detail.model.name}}</p>
        <p  class="infotext" style="text-align: center">{{selectedItem.car_detail.color}}</p>
    </td>
    <br>
    </tr>
  </table>

  <br>

  <table class="tg">
      <tr>
        <td class="tg-9hbo box titleleft" style="padding-left: 0px;">Modalidad:</td>
        <td class="tg-yw4l box" style="padding-left: 6%;">{{tipo}}</td>
      </tr>
      <br>
      <tr>
        <td class="tg-9hbo  box titleleft" style="padding-left: 0px;" >Dirección:</td>
        <td class="tg-yw4l box" style="padding-left: 6%;">{{selectedItem.address.name}} </td>
      </tr>
      <br>
      <tr>
        <td class="tg-9hbo box titleleft" style="padding-left: 0px;">Fecha:</td>
        <td class="tg-yw4l box" style="padding-left: 6%;">{{selectedItem.date}}</td>
      </tr>
      <br>
      <tr>
        <td class="tg-9hbo box titleleft" style="padding-left: 0px;">Observaciones:</td>
        <td class="tg-yw4l box" style="padding-left: 6%;">{{selectedItem.provider_observations}}</td>
      </tr>
      <br>
      <tr>
        <td class="tg-9hbo box titleleft" style="padding-left: 0px;">Foto:</td>
        <td class="tg-yw4l box" style="padding-left: 6%;"><img src="{{ api + selectedItem.photo_url }}" style="max-height:300px;"></td>
      </tr>
    </table>
    <h4 style="text-align: center;"> <a style="color: #000;">Total :</a><a style="color: #000;">{{selectedItem.total}}$</a> </h4>



</ion-content>
