page-historical-detail{
#avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
    }
    #avatarcard {
        width: 50px;
        height: 50px;
        overflow: hidden;
    }

.infotext{
    margin-top: 5px;
    font-size: 14px;
    color: #000000;
}
.box{

}

.titleleft{
    font-weight: bold;
    text-align: -internal-center;

}
.star{
  font-size: 1.7em;
  margin-left: 4px;
  margin-top: 5px;
  padding-right: 1%;
  padding-left: 1%;
}
.button{
      width: 114px;
      height: 20px;
      background-color: #26C852;
      border-width: 0px;
      border-style: solid;
      border-color: #26C852;
      border-radius: 1px 1px 1px 1px;
      padding: 1px;
      box-shadow: 0px 3px 4px 0px #A0A0A0;
      font-size: 9.0pt;
      font-family: 'Roboto-Regular',Arial;
      margin-left: 15px;
      margin-top: 15px;
      margin-bottom:15px;
  }
.boxright{
  border: solid;
  border-width: 1px;
  border-color: #CCCCCC;

}

}
