
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
    <ion-title>Información</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <p  class="disable-menu" style="font-size: 11px">-Versión 0.0.0</p >
    <p  class="disable-menu" style="font-size: 11px; color:#26C852" (click)="openUrl('https://waash.green/terminosycondiciones/')">-Términos y condiciones</p >
    <p  class="disable-menu" style="font-size: 11px; color:#26C852" (click)="openUrl('https://waash.green/politicadeprivacidad/')">-Política de privacidad</p >
    <p  class="disable-menu" style="font-size: 11px">-Contacto: Whatsapp +56 9 3031 4279 - info@waash.green</p >
    <p  class="disable-menu" style="font-size: 11px">-Diseño y desarrollo por Panoptik</p >

</ion-content>
