<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
    <ion-title>Actualizar datos de tu perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [(formGroup)]="FormProfile" (ngSubmit)="editProfile()">
    <ion-list>
    <p class="msg-req" *ngIf="submitAttempt">Por favor, complete la Información requerida.</p>

    <p style="width: 100%;text-align: center;margin-top: 0px;">Editar Perfil</p>

      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-row class="input-invalid" *ngIf="FormProfile.get('email').errors && (FormProfile.get('email').dirty || submitAttempt)">
        <p *ngIf="FormProfile.get('email').hasError('required')">Campo Requerido</p>
      </ion-row>

      <ion-item>
        <ion-label>Nombre: </ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-row class="input-invalid" *ngIf="FormProfile.get('name').errors && (FormProfile.get('name').dirty || submitAttempt)">
         <p *ngIf="FormProfile.get('name').hasError('required')">Campo Requerido</p>
       </ion-row>

       <ion-item>
         <ion-label>Apellido: </ion-label>
         <ion-input type="text" formControlName="last_name"></ion-input>
       </ion-item>
       <ion-row class="input-invalid" *ngIf="FormProfile.get('last_name').errors && (FormProfile.get('last_name').dirty || submitAttempt)">
          <p *ngIf="FormProfile.get('last_name').hasError('required')">Campo Requerido</p>
        </ion-row>

        <ion-item>
          <ion-label>Teléfono: </ion-label>
          <ion-input type="text" formControlName="phone"></ion-input>
        </ion-item>
        <ion-row class="input-invalid" *ngIf="FormProfile.get('phone').errors && (FormProfile.get('phone').dirty || submitAttempt)">
           <p *ngIf="FormProfile.get('phone').hasError('required')">Campo Requerido</p>
         </ion-row>
         <br/>

       <ion-buttons class="center">
         <button ion-button type="submit" color="primary" full>
         Modificar
       </button>
       </ion-buttons>

   </ion-list>


  </form>
</ion-content>
